<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Buttons</key>
	<array>
		<array>
			<dict>
				<key>image</key>
				<string>关闭默认.png</string>
				<key>highlighted</key>
				<string>关闭按下.png</string>
				<key>method</key>
				<string>backClicked:</string>
				<key>position</key>
				<string>{555,5}</string>
				<key>position_Iphone5</key>
				<string>{555,5}</string>
				<key>position_Iphone4</key>
				<string>{555,5}</string>
				<key>tag</key>
				<string>111</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>image</key>
				<string>地图默认.png</string>
				<key>highlighted</key>
				<string>地图按下.png</string>
				<key>method</key>
				<string>mapBtnClicked:</string>
				<key>position</key>
				<string>{20,171}</string>
				<key>position_Iphone5</key>
				<string>{20,171}</string>
				<key>position_Iphone4</key>
				<string>{20,171}</string>
				<key>tag</key>
				<string>121</string>
			</dict>
		</array>
	</array>
	<key>BaseColorButtons</key>
	<array>
		<array>
			<dict>
				<key>title</key>
				<string>西安 </string>
				<key>method</key>
				<string>cityChooseClicked:</string>
				<key>size</key>
				<string>{50,50}</string>
				<key>size_Iphone5</key>
				<string>{50,50}</string>
				<key>size_Iphone4</key>
				<string>{50,50}</string>
				<key>position</key>
				<string>{0,0}</string>
				<key>position_Iphone5</key>
				<string>{0,0}</string>
				<key>position_Iphone4</key>
				<string>{0,0}</string>
				<key>fontsize_Iphone5</key>
				<string>15</string>
				<key>fontsize_Iphone4</key>
				<string>15</string>
				<key>highlightcolor</key>
				<string>#ffffff</string>
				<key>textcolor</key>
				<string>#270d04</string>
				<key>texthighlightcolor</key>
				<string>#3399cc</string>
				<key>cornerradius</key>
				<string>0</string>
				<key>tag</key>
				<string>211</string>
			</dict>
		</array>
	</array>
	<key>BaseTextField</key>
	<array>
		<array/>
	</array>
	<key>BaseUIImageView</key>
	<array>
		<array>
			<dict>
				<key>position</key>
				<string>{105,42.5}</string>
				<key>position_Iphone5</key>
				<string>{105,42.5}</string>
				<key>position_Iphone4</key>
				<string>{105,42.5}</string>
				<key>image</key>
				<string>地点选择按下.png</string>
				<key>tag</key>
				<string>521</string>
				<key>hidden</key>
				<string>0</string>
			</dict>
		</array>
	</array>
	<key>BaseUISearchBar</key>
	<array>
		<array/>
		<array>
			<dict>
				<key>position</key>
				<string>{120,7}</string>
				<key>position_Iphone5</key>
				<string>{120,7}</string>
				<key>position_Iphone4</key>
				<string>{120,7}</string>
				<key>size</key>
				<string>{152,44}</string>
				<key>size_Iphone4</key>
				<string>{152,44}</string>
				<key>size_Iphone5</key>
				<string>{152,44}</string>
				<key>placeholder</key>
				<string>搜索</string>
				<key>barTintColor</key>
				<string>#CCCCCC</string>
				<key>bgImage</key>
				<string>searchBground.png</string>
				<key>searchFieldBGImgae</key>
				<string>searchFieldBG.png</string>
				<key>borderWidth</key>
				<string></string>
				<key>borderColor</key>
				<string></string>
				<key>tag</key>
				<string>611</string>
				<key>hidden</key>
				<string>0</string>
			</dict>
		</array>
	</array>
	<key>UILabel</key>
	<array>
		<array>
			<dict>
				<key>backgroundColor</key>
				<string>#f4f5f7</string>
				<key>position</key>
				<string>{0,100}</string>
				<key>position_Iphone5</key>
				<string>{0,100}</string>
				<key>position_Iphone4</key>
				<string>{0,100}</string>
				<key>size</key>
				<string>{320,32.5}</string>
				<key>size_Iphone5</key>
				<string>{320,32.5}</string>
				<key>size_Iphone4</key>
				<string>{320,32.5}</string>
				<key>tag</key>
				<string>711</string>
				<key>textColor</key>
				<string>#000000</string>
				<key>textAlignment</key>
				<string>0</string>
				<key>fontsize</key>
				<string>26</string>
				<key>fontsize_Iphone5</key>
				<string>13</string>
				<key>fontsize_Iphone4</key>
				<string>13</string>
				<key>text</key>
				<string>当前位置</string>
			</dict>
			<dict>
				<key>backgroundColor</key>
				<string>#ffffff</string>
				<key>position</key>
				<string>{100,159}</string>
				<key>position_Iphone5</key>
				<string>{100,159}</string>
				<key>position_Iphone4</key>
				<string>{100,159}</string>
				<key>size</key>
				<string>{230,47}</string>
				<key>size_Iphone5</key>
				<string>{230,47}</string>
				<key>size_Iphone4</key>
				<string>{230,47}</string>
				<key>tag</key>
				<string>721</string>
				<key>textColor</key>
				<string>#000000</string>
				<key>textAlignment</key>
				<string>0</string>
				<key>fontsize</key>
				<string>15</string>
				<key>fontsize_Iphone5</key>
				<string>15</string>
				<key>fontsize_Iphone4</key>
				<string>15</string>
				<key>text</key>
				<string>陕西  西安 </string>
			</dict>
		</array>
	</array>
	<key>UIViews</key>
	<array>
		<array>
			<dict>
				<key>size</key>
				<string>{143,27}</string>
				<key>size_Iphone5</key>
				<string>{143,27}</string>
				<key>size_Iphone4</key>
				<string>{143,27}</string>
				<key>position</key>
				<string>{136,57}</string>
				<key>position_Iphone5</key>
				<string>{136,57}</string>
				<key>position_Iphone4</key>
				<string>{136,57}</string>
				<key>backgroundColor</key>
				<string>#ececec</string>
				<key>cornerRadius</key>
				<string>13.5</string>
				<key>tag</key>
				<string>811</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>size</key>
				<string>{320,1}</string>
				<key>size_Iphone5</key>
				<string>{320,1}</string>
				<key>size_Iphone4</key>
				<string>{320,1}</string>
				<key>position</key>
				<string>{0,255}</string>
				<key>position_Iphone5</key>
				<string>{0,255}</string>
				<key>position_Iphone4</key>
				<string>{0,255}</string>
				<key>backgroundColor</key>
				<string>#CCCCCC</string>
				<key>cornerRadius</key>
				<string>0</string>
				<key>tag</key>
				<string>821</string>
			</dict>
			<dict>
				<key>size</key>
				<string>{1,1000}</string>
				<key>size_Iphone5</key>
				<string>{1,1000}</string>
				<key>size_Iphone4</key>
				<string>{1,1000}</string>
				<key>position</key>
				<string>{200,256}</string>
				<key>position_Iphone5</key>
				<string>{200,256}</string>
				<key>position_Iphone4</key>
				<string>{200,256}</string>
				<key>backgroundColor</key>
				<string>#CCCCCC</string>
				<key>cornerRadius</key>
				<string>0</string>
				<key>tag</key>
				<string>822</string>
			</dict>
		</array>
	</array>
	<key>BaseUIViews</key>
	<array>
		<array>
			<dict>
				<key>size</key>
				<string>{320,50}</string>
				<key>size_Iphone5</key>
				<string>{320,50}</string>
				<key>size_Iphone4</key>
				<string>{320,50}</string>
				<key>position</key>
				<string>{0,0}</string>
				<key>position_Iphone5</key>
				<string>{0,0}</string>
				<key>position_Iphone4</key>
				<string>{0,0}</string>
				<key>backgroundColor</key>
				<string>#FFFFFF</string>
				<key>tag</key>
				<string>511</string>
			</dict>
		</array>
	</array>
</dict>
</plist>
