<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Cities</key>
		<array>
			<dict>
				<key>city</key>
				<string>西安</string>
				<key>cityCode</key>
				<string>029</string>
				<key>lat</key>
				<string>34.263161</string>
				<key>lon</key>
				<string>108.948021</string>
			</dict>
			<dict>
				<key>city</key>
				<string>咸阳</string>
				<key>cityCode</key>
				<string>0910</string>
				<key>lat</key>
				<string>34.333439</string>
				<key>lon</key>
				<string>108.705116</string>
			</dict>
			<dict>
				<key>city</key>
				<string>安康</string>
				<key>cityCode</key>
				<string>0915</string>
				<key>lat</key>
				<string>32.690300</string>
				<key>lon</key>
				<string>109.029274</string>
			</dict>
			<dict>
				<key>city</key>
				<string>宝鸡</string>
				<key>cityCode</key>
				<string>0917</string>
				<key>lat</key>
				<string>34.369316</string>
				<key>lon</key>
				<string>107.144867</string>
			</dict>
			<dict>
				<key>city</key>
				<string>汉中</string>
				<key>cityCode</key>
				<string>0916</string>
				<key>lat</key>
				<string>33.077667</string>
				<key>lon</key>
				<string>107.028618</string>
			</dict>
			<dict>
				<key>city</key>
				<string>商州</string>
				<key>cityCode</key>
				<string>0914</string>
				<key>lat</key>
				<string>33.869339</string>
				<key>lon</key>
				<string>115.782936</string>
			</dict>
			<dict>
				<key>city</key>
				<string>铜川</string>
				<key>cityCode</key>
				<string>0919</string>
				<key>lat</key>
				<string>34.916580</string>
				<key>lon</key>
				<string>108.979607</string>
			</dict>
			<dict>
				<key>city</key>
				<string>渭南</string>
				<key>cityCode</key>
				<string>0913</string>
				<key>lat</key>
				<string>34.499382</string>
				<key>lon</key>
				<string>109.502884</string>
			</dict>
			<dict>
				<key>city</key>
				<string>延安</string>
				<key>cityCode</key>
				<string>0911</string>
				<key>lat</key>
				<string>36.596539</string>
				<key>lon</key>
				<string>109.490807</string>
			</dict>
			<dict>
				<key>city</key>
				<string>榆林</string>
				<key>cityCode</key>
				<string>0912</string>
				<key>lat</key>
				<string>38.290161</string>
				<key>lon</key>
				<string>109.741196</string>
			</dict>
		</array>
		<key>State</key>
		<string>陕西省</string>
		<key>provienceCode</key>
		<string>0</string>
	</dict>
</array>
</plist>
