<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EffectRadio</key>
	<array>
		<array>
			<dict>
				<key>normal</key>
				<string>首页默认.png</string>
				<key>highlighted</key>
				<string>首页按下.png</string>
				<key>groupId</key>
				<string>MainUIImageView</string>
				<key>checked</key>
				<string>1</string>
				<key>EffectRadioType</key>
				<string>1</string>
				<key>position_Iphone5</key>
				<string>{0,1036}</string>
				<key>position_Iphone6</key>
				<string>{0,1036}</string>
				<key>position_Iphone4</key>
				<string>{0,860}</string>
				<key>position</key>
				<string>{0,668}</string>
				<key>tag</key>
				<string>1</string>
			</dict>
			<dict>
				<key>normal</key>
				<string>带你玩默认.png</string>
				<key>highlighted</key>
				<string>带你玩按下.png</string>
				<key>groupId</key>
				<string>MainUIImageView</string>
				<key>EffectRadioType</key>
				<string>1</string>
				<key>position_Iphone5</key>
				<string>{128,1036}</string>
				<key>position_Iphone6</key>
				<string>{128,1036}</string>
				<key>position_Iphone4</key>
				<string>{128,860}</string>
				<key>position</key>
				<string>{128,668}</string>
				<key>tag</key>
				<string>2</string>
			</dict>
			<dict>
				<key>normal</key>
				<string>主题玩默认.png</string>
				<key>highlighted</key>
				<string>主题玩按下.png</string>
				<key>groupId</key>
				<string>MainUIImageView</string>
				<key>EffectRadioType</key>
				<string>1</string>
				<key>position_Iphone5</key>
				<string>{256,1036}</string>
				<key>position_Iphone6</key>
				<string>{256,1036}</string>
				<key>position_Iphone4</key>
				<string>{256,860}</string>
				<key>position</key>
				<string>{256,668}</string>
				<key>tag</key>
				<string>3</string>
			</dict>
			<dict>
				<key>normal</key>
				<string>订单默认.png</string>
				<key>highlighted</key>
				<string>订单按下.png</string>
				<key>groupId</key>
				<string>MainUIImageView</string>
				<key>EffectRadioType</key>
				<string>1</string>
				<key>position_Iphone5</key>
				<string>{384,1036}</string>
				<key>position_Iphone6</key>
				<string>{384,1036}</string>
				<key>position_Iphone4</key>
				<string>{384,860}</string>
				<key>position</key>
				<string>{384,668}</string>
				<key>tag</key>
				<string>4</string>
			</dict>
			<dict>
				<key>normal</key>
				<string>我的默认.png</string>
				<key>highlighted</key>
				<string>我的按下.png</string>
				<key>groupId</key>
				<string>MainUIImageView</string>
				<key>EffectRadioType</key>
				<string>1</string>
				<key>position_Iphone5</key>
				<string>{512,1036}</string>
				<key>position_Iphone6</key>
				<string>{512,1036}</string>
				<key>position_Iphone4</key>
				<string>{512,860}</string>
				<key>position</key>
				<string>{512,668}</string>
				<key>tag</key>
				<string>5</string>
			</dict>
		</array>
	</array>
	<key>loadAni</key>
	<dict>
		<key>repate</key>
		<string>0</string>
		<key>duration</key>
		<string>0.5</string>
		<key>animaName</key>
		<string>加载%d.png</string>
	</dict>
	<key>RadioButton_ipad</key>
	<array>
		<array>
			<dict>
				<key>groupId</key>
				<string>mainIpad</string>
				<key>position</key>
				<string>{0,80}</string>
				<key>size</key>
				<string>{128,100}</string>
				<key>tag</key>
				<string>53001</string>
				<key>highlighted</key>
				<string>shouye02.png</string>
				<key>image</key>
				<string>shouye01.png</string>
			</dict>
			<dict>
				<key>groupId</key>
				<string>mainIpad</string>
				<key>position</key>
				<string>{0,180}</string>
				<key>size</key>
				<string>{128,100}</string>
				<key>tag</key>
				<string>53002</string>
				<key>highlighted</key>
				<string>主题玩按下.png</string>
				<key>image</key>
				<string>主题玩默认.png</string>
			</dict>
		</array>
	</array>
	<key>BackTitleUILabel_ipad</key>
	<array>
		<array>
			<dict>
				<key>backgroundColor</key>
				<string>#8C8C8C</string>
				<key>position</key>
				<string>{0,20}</string>
				<key>size</key>
				<string>{1024,60}</string>
				<key>tag</key>
				<string>908001</string>
				<key>textColor</key>
				<string>#000000</string>
				<key>textAlignment</key>
				<string>2</string>
				<key>fontsize</key>
				<string>30</string>
				<key>text</key>
				<string>浪游</string>
			</dict>
		</array>
	</array>
</dict>
</plist>
