<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Buttons</key>
	<array>
		<array>
			<dict>
				<key>image</key>
				<string>地图默认.png</string>
				<key>highlighted</key>
				<string>地图按下.png</string>
				<key>method</key>
				<string>mapBtnClicked:</string>
				<key>position</key>
				<string>{560,450}</string>
				<key>position_Iphone5</key>
				<string>{560,450}</string>
				<key>position_Iphone4</key>
				<string>{560,450}</string>
				<key>tag</key>
				<string>121</string>
			</dict>
		</array>
	</array>
	<key>BackTitleButtons</key>
	<array>
		<array>
			<dict>
				<key>image</key>
				<string>返回默认.png</string>
				<key>highlighted</key>
				<string>返回按下.png</string>
				<key>method</key>
				<string>backClicked:</string>
				<key>position</key>
				<string>{10,9}</string>
				<key>position_Iphone5</key>
				<string>{10,9}</string>
				<key>position_Iphone4</key>
				<string>{10,9}</string>
			</dict>
		</array>
	</array>
	<key>BackTitleBaseUIViews</key>
	<array>
		<array>
			<dict>
				<key>size</key>
				<string>{320,50}</string>
				<key>size_Iphone5</key>
				<string>{320,50}</string>
				<key>size_Iphone4</key>
				<string>{320,50}</string>
				<key>position</key>
				<string>{0,0}</string>
				<key>position_Iphone5</key>
				<string>{0,0}</string>
				<key>position_Iphone4</key>
				<string>{0,0}</string>
				<key>backgroundColor</key>
				<string>#FFFFFF</string>
				<key>tag</key>
				<string>511</string>
			</dict>
		</array>
	</array>
	<key>BackTitleUILabel</key>
	<array>
		<array>
			<dict>
				<key>backgroundColor</key>
				<string>#FFFFFF</string>
				<key>position</key>
				<string>{0,0}</string>
				<key>position_Iphone5</key>
				<string>{0,0}</string>
				<key>position_Iphone4</key>
				<string>{0,0}</string>
				<key>size</key>
				<string>{320,50}</string>
				<key>size_Iphone5</key>
				<string>{320,50}</string>
				<key>size_Iphone4</key>
				<string>{320,50}</string>
				<key>tag</key>
				<string>311</string>
				<key>textColor</key>
				<string>#000000</string>
				<key>textAlignment</key>
				<string>2</string>
				<key>fontsize</key>
				<string>17</string>
				<key>fontsize_Iphone5</key>
				<string>17</string>
				<key>fontsize_Iphone4</key>
				<string>17</string>
				<key>text</key>
				<string>行程详细</string>
			</dict>
		</array>
	</array>
	<key>ColorButtons</key>
	<array>
		<array>
			<dict>
				<key>title</key>
				<string>第一天</string>
				<key>method</key>
				<string>day:</string>
				<key>size</key>
				<string>{239,50}</string>
				<key>size_Iphone5</key>
				<string>{119.5,25}</string>
				<key>size_Iphone4</key>
				<string>{119.5,25}</string>
				<key>position</key>
				<string>{0,103}</string>
				<key>position_Iphone5</key>
				<string>{0,103}</string>
				<key>position_Iphone4</key>
				<string>{0,103}</string>
				<key>fontsize</key>
				<string>30</string>
				<key>fontsize_Iphone5</key>
				<string>15</string>
				<key>fontsize_Iphone4</key>
				<string>15</string>
				<key>highlightcolor</key>
				<string>#ffe0f0</string>
				<key>textcolor</key>
				<string>#ffffff</string>
				<key>texthighlightcolor</key>
				<string>#ffffff</string>
				<key>color</key>
				<string>#e19bb6</string>
				<key>cornerradius</key>
				<string>0</string>
				<key>tag</key>
				<string>211</string>
			</dict>
			<dict>
				<key>title</key>
				<string>第二天</string>
				<key>method</key>
				<string>day:</string>
				<key>size</key>
				<string>{264,50}</string>
				<key>size_Iphone5</key>
				<string>{132,25}</string>
				<key>size_Iphone4</key>
				<string>{132,25}</string>
				<key>position</key>
				<string>{214,103}</string>
				<key>position_Iphone5</key>
				<string>{214,103}</string>
				<key>position_Iphone4</key>
				<string>{214,103}</string>
				<key>fontsize</key>
				<string>30</string>
				<key>fontsize_Iphone5</key>
				<string>15</string>
				<key>fontsize_Iphone4</key>
				<string>15</string>
				<key>highlightcolor</key>
				<string>#ffe0f0</string>
				<key>textcolor</key>
				<string>#ffffff</string>
				<key>texthighlightcolor</key>
				<string>#ffffff</string>
				<key>color</key>
				<string>#a6c9ed</string>
				<key>cornerradius</key>
				<string>0</string>
				<key>tag</key>
				<string>212</string>
			</dict>
			<dict>
				<key>title</key>
				<string>第三天</string>
				<key>method</key>
				<string>day:</string>
				<key>size</key>
				<string>{264,50}</string>
				<key>size_Iphone5</key>
				<string>{132,25}</string>
				<key>size_Iphone4</key>
				<string>{132,25}</string>
				<key>position</key>
				<string>{428,103}</string>
				<key>position_Iphone5</key>
				<string>{428,103}</string>
				<key>position_Iphone4</key>
				<string>{428,103}</string>
				<key>fontsize</key>
				<string>30</string>
				<key>fontsize_Iphone5</key>
				<string>15</string>
				<key>fontsize_Iphone4</key>
				<string>15</string>
				<key>highlightcolor</key>
				<string>#ffe0f0</string>
				<key>textcolor</key>
				<string>#ffffff</string>
				<key>texthighlightcolor</key>
				<string>#ffffff</string>
				<key>color</key>
				<string>#a1decb</string>
				<key>cornerradius</key>
				<string>0</string>
				<key>tag</key>
				<string>213</string>
			</dict>
		</array>
	</array>
	<key>DVSwitch</key>
	<array>
		<array>
			<dict>
				<key>fontName</key>
				<string>Baskerville-Italic</string>
				<key>titleName</key>
				<array>
					<string>第一天</string>
					<string>第二天</string>
				</array>
				<key>sliderOffset</key>
				<string>1.0</string>
				<key>labelTextColorOutsideSlider</key>
				<string>#ffffff</string>
				<key>cornerRadius</key>
				<string>0</string>
				<key>size</key>
				<string>{320,25}</string>
				<key>size_Iphone5</key>
				<string>{320,25}</string>
				<key>size_Iphone4</key>
				<string>{320,25}</string>
				<key>position</key>
				<string>{0,103}</string>
				<key>position_Iphone5</key>
				<string>{0,103}</string>
				<key>position_Iphone4</key>
				<string>{0,103}</string>
				<key>backgroundColor</key>
				<string>#a6c9ed</string>
				<key>fontsize_Iphone5</key>
				<string>15</string>
				<key>fontsize</key>
				<string>30</string>
				<key>fontsize_Iphone4</key>
				<string>15</string>
				<key>sliderColor</key>
				<string>#CC9999</string>
				<key>selectedSegmentIndex</key>
				<string>0</string>
				<key>tag</key>
				<string>20611</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>fontName</key>
				<string>Baskerville-Italic</string>
				<key>titleName</key>
				<array>
					<string>第一天</string>
					<string>第二天</string>
					<string>第三天</string>
				</array>
				<key>sliderOffset</key>
				<string>1.0</string>
				<key>labelTextColorOutsideSlider</key>
				<string>#ffffff</string>
				<key>cornerRadius</key>
				<string>0</string>
				<key>size</key>
				<string>{320,25}</string>
				<key>size_Iphone5</key>
				<string>{320,25}</string>
				<key>size_Iphone4</key>
				<string>{320,25}</string>
				<key>position</key>
				<string>{0,103}</string>
				<key>position_Iphone5</key>
				<string>{0,103}</string>
				<key>position_Iphone4</key>
				<string>{0,103}</string>
				<key>backgroundColor</key>
				<string>#a6c9ed</string>
				<key>fontsize_Iphone5</key>
				<string>15</string>
				<key>fontsize</key>
				<string>30</string>
				<key>fontsize_Iphone4</key>
				<string>15</string>
				<key>sliderColor</key>
				<string>#CC9999</string>
				<key>selectedSegmentIndex</key>
				<string>0</string>
				<key>tag</key>
				<string>20611</string>
			</dict>
		</array>
	</array>
	<key>UIView</key>
	<array>
		<array>
			<dict>
				<key>size</key>
				<string>{320,26.5}</string>
				<key>size_Iphone5</key>
				<string>{320,26.5}</string>
				<key>size_Iphone4</key>
				<string>{320,26.5}</string>
				<key>position</key>
				<string>{0,100}</string>
				<key>position_Iphone5</key>
				<string>{0,100}</string>
				<key>position_Iphone4</key>
				<string>{0,100}</string>
				<key>backgroundColor</key>
				<string>#ececec</string>
				<key>tag</key>
				<string>711</string>
			</dict>
		</array>
	</array>
</dict>
</plist>
