<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BackTitleButtons</key>
	<array>
		<array>
			<dict>
				<key>image</key>
				<string>返回默认.png</string>
				<key>highlighted</key>
				<string>返回按下.png</string>
				<key>method</key>
				<string>backClicked:</string>
				<key>position</key>
				<string>{10,9}</string>
				<key>position_Iphone5</key>
				<string>{10,9}</string>
				<key>position_Iphone4</key>
				<string>{10,9}</string>
			</dict>
			<dict>
				<key>image</key>
				<string>商家扫描默认.png</string>
				<key>highlighted</key>
				<string>商家扫描按下.png</string>
				<key>method</key>
				<string>businessScanningClicked:</string>
				<key>position</key>
				<string>{540,9}</string>
				<key>position_Iphone5</key>
				<string>{540,9}</string>
				<key>position_Iphone4</key>
				<string>{540,9}</string>
			</dict>
		</array>
	</array>
	<key>BackTitleBaseUIViews</key>
	<array>
		<array>
			<dict>
				<key>size</key>
				<string>{320,50}</string>
				<key>size_Iphone5</key>
				<string>{320,50}</string>
				<key>size_Iphone4</key>
				<string>{320,50}</string>
				<key>position</key>
				<string>{0,0}</string>
				<key>position_Iphone5</key>
				<string>{0,0}</string>
				<key>position_Iphone4</key>
				<string>{0,0}</string>
				<key>backgroundColor</key>
				<string>#FFFFFF</string>
				<key>tag</key>
				<string>511</string>
			</dict>
		</array>
	</array>
	<key>BackTitleUILabel</key>
	<array>
		<array>
			<dict>
				<key>backgroundColor</key>
				<string>#FFFFFF</string>
				<key>position</key>
				<string>{0,0}</string>
				<key>position_Iphone5</key>
				<string>{0,0}</string>
				<key>position_Iphone4</key>
				<string>{0,0}</string>
				<key>size</key>
				<string>{320,50}</string>
				<key>size_Iphone5</key>
				<string>{320,50}</string>
				<key>size_Iphone4</key>
				<string>{320,50}</string>
				<key>tag</key>
				<string>0</string>
				<key>textColor</key>
				<string>#000000</string>
				<key>textAlignment</key>
				<string>2</string>
				<key>fontsize</key>
				<string>30</string>
				<key>fontsize_Iphone5</key>
				<string>17</string>
				<key>fontsize_Iphone4</key>
				<string>17</string>
				<key>fontsize_Iphone6</key>
				<string>17</string>
				<key>text</key>
				<string>报名查询</string>
			</dict>
		</array>
	</array>
	<key>BackTitlecolorButtons</key>
	<array>
		<array/>
	</array>
	<key>UISegmentedControl</key>
	<array>
		<array>
			<dict>
				<key>titleName</key>
				<array>
					<string>全部</string>
					<string>未联系</string>
					<string>已联系</string>
				</array>
				<key>method</key>
				<string>segClicked:</string>
				<key>size</key>
				<string>{300,25}</string>
				<key>size_Iphone5</key>
				<string>{300,25}</string>
				<key>size_Iphone4</key>
				<string>{300,25}</string>
				<key>size_Iphone6</key>
				<string>{300,25}</string>
				<key>position</key>
				<string>{20,120}</string>
				<key>position_Iphone5</key>
				<string>{20,120}</string>
				<key>position_Iphone4</key>
				<string>{20,120}</string>
				<key>position_Iphone6</key>
				<string>{20,120}</string>
				<key>tintColor</key>
				<string>#a6c9ed</string>
				<key>selectedSegmentIndex</key>
				<string>0</string>
				<key>tag</key>
				<string>13001</string>
			</dict>
		</array>
	</array>
	<key>UILabel</key>
	<array>
		<array>
			<dict>
				<key>position</key>
				<string>{20,250}</string>
				<key>position_Iphone4</key>
				<string>{20,250}</string>
				<key>position_Iphone5</key>
				<string>{20,250}</string>
				<key>position_Iphone6</key>
				<string>{20,250}</string>
				<key>size</key>
				<string>{110,70}</string>
				<key>size_Iphone4</key>
				<string>{55,35}</string>
				<key>size_Iphone5</key>
				<string>{55,35}</string>
				<key>size_Iphone6</key>
				<string>{55,35}</string>
				<key>fontsize</key>
				<string>26</string>
				<key>fontsize_Iphone4</key>
				<string>13</string>
				<key>fontsize_Iphone5</key>
				<string>13</string>
				<key>fontsize_Iphone6</key>
				<string>13</string>
				<key>textColor</key>
				<string>#000000</string>
				<key>text</key>
				<string>集结地：</string>
				<key>textAlignment</key>
				<string>0</string>
				<key>lineBreakMode</key>
				<string></string>
				<key>numberOfLines</key>
				<string></string>
				<key>tag</key>
				<string>411</string>
				<key>hidden</key>
				<string></string>
			</dict>
		</array>
		<array>
			<dict>
				<key>position</key>
				<string>{20,0}</string>
				<key>position_Iphone4</key>
				<string>{20,0}</string>
				<key>position_Iphone5</key>
				<string>{20,0}</string>
				<key>position_Iphone6</key>
				<string>{20,0}</string>
				<key>size</key>
				<string>{140,70}</string>
				<key>size_Iphone4</key>
				<string>{70,35}</string>
				<key>size_Iphone5</key>
				<string>{70,35}</string>
				<key>size_Iphone6</key>
				<string>{70,35}</string>
				<key>fontsize</key>
				<string>26</string>
				<key>fontsize_Iphone4</key>
				<string>13</string>
				<key>fontsize_Iphone5</key>
				<string>13</string>
				<key>fontsize_Iphone6</key>
				<string>13</string>
				<key>textColor</key>
				<string>#000000</string>
				<key>text</key>
				<string>集结时间：</string>
				<key>textAlignment</key>
				<string>0</string>
				<key>lineBreakMode</key>
				<string></string>
				<key>numberOfLines</key>
				<string></string>
				<key>tag</key>
				<string>422</string>
				<key>hidden</key>
				<string></string>
			</dict>
			<dict>
				<key>position</key>
				<string>{300,0}</string>
				<key>position_Iphone4</key>
				<string>{300,0}</string>
				<key>position_Iphone5</key>
				<string>{300,0}</string>
				<key>position_Iphone6</key>
				<string>{300,0}</string>
				<key>size</key>
				<string>{180,70}</string>
				<key>size_Iphone4</key>
				<string>{90,35}</string>
				<key>size_Iphone5</key>
				<string>{90,35}</string>
				<key>size_Iphone6</key>
				<string>{90,35}</string>
				<key>fontsize</key>
				<string>26</string>
				<key>fontsize_Iphone4</key>
				<string>13</string>
				<key>fontsize_Iphone5</key>
				<string>13</string>
				<key>fontsize_Iphone6</key>
				<string>13</string>
				<key>textColor</key>
				<string>#270d04</string>
				<key>text</key>
				<string>2014/09/12</string>
				<key>textAlignment</key>
				<string>0</string>
				<key>lineBreakMode</key>
				<string></string>
				<key>numberOfLines</key>
				<string></string>
				<key>tag</key>
				<string>413</string>
				<key>hidden</key>
				<string></string>
			</dict>
			<dict>
				<key>position</key>
				<string>{475,0}</string>
				<key>position_Iphone4</key>
				<string>{475,0}</string>
				<key>position_Iphone5</key>
				<string>{475,0}</string>
				<key>position_Iphone6</key>
				<string>{475,0}</string>
				<key>size</key>
				<string>{145,70}</string>
				<key>size_Iphone4</key>
				<string>{72.5,35}</string>
				<key>size_Iphone5</key>
				<string>{72.5,35}</string>
				<key>size_Iphone6</key>
				<string>{72.5,35}</string>
				<key>fontsize</key>
				<string>26</string>
				<key>fontsize_Iphone4</key>
				<string>13</string>
				<key>fontsize_Iphone5</key>
				<string>13</string>
				<key>fontsize_Iphone6</key>
				<string>13</string>
				<key>textColor</key>
				<string>#270d04</string>
				<key>text</key>
				<string>AM 07:00</string>
				<key>textAlignment</key>
				<string>0</string>
				<key>lineBreakMode</key>
				<string></string>
				<key>numberOfLines</key>
				<string></string>
				<key>tag</key>
				<string>414</string>
				<key>hidden</key>
				<string></string>
			</dict>
		</array>
		<array>
			<dict>
				<key>position</key>
				<string>{20,0}</string>
				<key>position_Iphone4</key>
				<string>{20,0}</string>
				<key>position_Iphone5</key>
				<string>{20,0}</string>
				<key>position_Iphone6</key>
				<string>{20,0}</string>
				<key>size</key>
				<string>{140,70}</string>
				<key>size_Iphone4</key>
				<string>{70,35}</string>
				<key>size_Iphone5</key>
				<string>{70,35}</string>
				<key>size_Iphone6</key>
				<string>{70,35}</string>
				<key>fontsize</key>
				<string>30</string>
				<key>fontsize_Iphone4</key>
				<string>15</string>
				<key>fontsize_Iphone5</key>
				<string>15</string>
				<key>fontsize_Iphone6</key>
				<string>15</string>
				<key>textColor</key>
				<string>#000000</string>
				<key>text</key>
				<string>预定码</string>
				<key>textAlignment</key>
				<string>0</string>
				<key>lineBreakMode</key>
				<string></string>
				<key>numberOfLines</key>
				<string></string>
				<key>tag</key>
				<string>431</string>
				<key>hidden</key>
				<string></string>
			</dict>
			<dict>
				<key>position</key>
				<string>{120,0}</string>
				<key>position_Iphone4</key>
				<string>{120,0}</string>
				<key>position_Iphone5</key>
				<string>{120,0}</string>
				<key>position_Iphone6</key>
				<string>{120,0}</string>
				<key>size</key>
				<string>{500,70}</string>
				<key>size_Iphone4</key>
				<string>{250,35}</string>
				<key>size_Iphone5</key>
				<string>{250,35}</string>
				<key>size_Iphone6</key>
				<string>{250,35}</string>
				<key>fontsize</key>
				<string>26</string>
				<key>fontsize_Iphone4</key>
				<string>13</string>
				<key>fontsize_Iphone5</key>
				<string>13</string>
				<key>fontsize_Iphone6</key>
				<string>13</string>
				<key>textColor</key>
				<string>#270d04</string>
				<key>text</key>
				<string>有效期至：2014/09/12</string>
				<key>textAlignment</key>
				<string>1</string>
				<key>lineBreakMode</key>
				<string></string>
				<key>numberOfLines</key>
				<string></string>
				<key>tag</key>
				<string>432</string>
				<key>hidden</key>
				<string></string>
			</dict>
		</array>
	</array>
	<key>UIView</key>
	<array>
		<array>
			<dict>
				<key>size</key>
				<string>{640,70}</string>
				<key>size_Iphone5</key>
				<string>{320,35}</string>
				<key>size_Iphone4</key>
				<string>{320,35}</string>
				<key>size_Iphone6</key>
				<string>{320,35}</string>
				<key>position</key>
				<string>{0,250}</string>
				<key>position_Iphone5</key>
				<string>{0,250}</string>
				<key>position_Iphone4</key>
				<string>{0,250}</string>
				<key>backgroundColor</key>
				<string>#ececec</string>
				<key>tag</key>
				<string>611</string>
			</dict>
			<dict>
				<key>size</key>
				<string>{320,1}</string>
				<key>size_Iphone5</key>
				<string>{320,0.5}</string>
				<key>size_Iphone4</key>
				<string>{320,0.5}</string>
				<key>size_Iphone6</key>
				<string>{320,0.5}</string>
				<key>position</key>
				<string>{0,250}</string>
				<key>position_Iphone5</key>
				<string>{0,250}</string>
				<key>position_Iphone4</key>
				<string>{0,250}</string>
				<key>position_Iphone6</key>
				<string>{0,250}</string>
				<key>backgroundColor</key>
				<string>#9c9c9c</string>
				<key>tag</key>
				<string>612</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>size</key>
				<string>{640,70}</string>
				<key>size_Iphone5</key>
				<string>{320,35}</string>
				<key>size_Iphone4</key>
				<string>{320,35}</string>
				<key>size_Iphone6</key>
				<string>{320,35}</string>
				<key>position</key>
				<string>{0,320}</string>
				<key>position_Iphone5</key>
				<string>{0,320}</string>
				<key>position_Iphone4</key>
				<string>{0,320}</string>
				<key>backgroundColor</key>
				<string>#ececec</string>
				<key>tag</key>
				<string>621</string>
			</dict>
			<dict>
				<key>size</key>
				<string>{320,1}</string>
				<key>size_Iphone5</key>
				<string>{320,0.5}</string>
				<key>size_Iphone4</key>
				<string>{320,0.5}</string>
				<key>size_Iphone6</key>
				<string>{320,0.5}</string>
				<key>position</key>
				<string>{0,0}</string>
				<key>position_Iphone5</key>
				<string>{0,0}</string>
				<key>position_Iphone4</key>
				<string>{0,0}</string>
				<key>position_Iphone6</key>
				<string>{0,0}</string>
				<key>backgroundColor</key>
				<string>#9c9c9c</string>
				<key>tag</key>
				<string>622</string>
			</dict>
			<dict>
				<key>size</key>
				<string>{320,1}</string>
				<key>size_Iphone5</key>
				<string>{320,0.5}</string>
				<key>size_Iphone4</key>
				<string>{320,0.5}</string>
				<key>size_Iphone6</key>
				<string>{320,0.5}</string>
				<key>position</key>
				<string>{0,69}</string>
				<key>position_Iphone5</key>
				<string>{0,69}</string>
				<key>position_Iphone4</key>
				<string>{0,69}</string>
				<key>backgroundColor</key>
				<string>#9c9c9c</string>
				<key>tag</key>
				<string>623</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>size</key>
				<string>{640,70}</string>
				<key>size_Iphone5</key>
				<string>{320,35}</string>
				<key>size_Iphone4</key>
				<string>{320,35}</string>
				<key>size_Iphone6</key>
				<string>{320,35}</string>
				<key>position</key>
				<string>{0,320}</string>
				<key>position_Iphone5</key>
				<string>{0,320}</string>
				<key>position_Iphone4</key>
				<string>{0,320}</string>
				<key>backgroundColor</key>
				<string>#ffffff</string>
				<key>tag</key>
				<string>631</string>
			</dict>
		</array>
	</array>
	<key>MaskUIView</key>
	<array>
		<array>
			<dict>
				<key>size</key>
				<string>{285,212}</string>
				<key>size_Iphone5</key>
				<string>{142.5,106}</string>
				<key>size_Iphone4</key>
				<string>{142.5,106}</string>
				<key>size_Iphone6</key>
				<string>{142.5,106}</string>
				<key>position</key>
				<string>{335,20}</string>
				<key>position_Iphone5</key>
				<string>{335,20}</string>
				<key>position_Iphone4</key>
				<string>{335,20}</string>
				<key>position_Iphone6</key>
				<string>{335,20}</string>
				<key>backgroundColor</key>
				<string>#ffffff</string>
				<key>borderWidth</key>
				<string>1</string>
				<key>borderColor</key>
				<string>#8f8f8f</string>
				<key>tag</key>
				<string>712</string>
			</dict>
			<dict>
				<key>size</key>
				<string>{285,2}</string>
				<key>size_Iphone5</key>
				<string>{142.5,1}</string>
				<key>size_Iphone4</key>
				<string>{142.5,106}</string>
				<key>size_Iphone6</key>
				<string>{142.5,106}</string>
				<key>position</key>
				<string>{335,125}</string>
				<key>position_Iphone5</key>
				<string>{335,125}</string>
				<key>position_Iphone4</key>
				<string>{335,125}</string>
				<key>position_Iphone6</key>
				<string>{335,125}</string>
				<key>backgroundColor</key>
				<string>#ededed</string>
				<key>tag</key>
				<string>712</string>
			</dict>
		</array>
	</array>
	<key>MaskUILabel</key>
	<array>
		<array>
			<dict>
				<key>position</key>
				<string>{100,0}</string>
				<key>position_Iphone4</key>
				<string>{100,0}</string>
				<key>position_Iphone5</key>
				<string>{100,0}</string>
				<key>position_Iphone6</key>
				<string>{100,0}</string>
				<key>size</key>
				<string>{165,106}</string>
				<key>size_Iphone4</key>
				<string>{82.5,53}</string>
				<key>size_Iphone5</key>
				<string>{82.5,53}</string>
				<key>size_Iphone6</key>
				<string>{82.5,53}</string>
				<key>fontsize</key>
				<string>30</string>
				<key>fontsize_Iphone4</key>
				<string>15</string>
				<key>fontsize_Iphone5</key>
				<string>15</string>
				<key>fontsize_Iphone6</key>
				<string>15</string>
				<key>textColor</key>
				<string>#000000</string>
				<key>text</key>
				<string>二维码验证</string>
				<key>textAlignment</key>
				<string>1</string>
				<key>lineBreakMode</key>
				<string></string>
				<key>numberOfLines</key>
				<string></string>
				<key>tag</key>
				<string></string>
				<key>hidden</key>
				<string></string>
			</dict>
			<dict>
				<key>position</key>
				<string>{100,106}</string>
				<key>position_Iphone4</key>
				<string>{100,106}</string>
				<key>position_Iphone5</key>
				<string>{100,106}</string>
				<key>position_Iphone6</key>
				<string>{100,106}</string>
				<key>size</key>
				<string>{165,106}</string>
				<key>size_Iphone4</key>
				<string>{82.5,53}</string>
				<key>size_Iphone5</key>
				<string>{82.5,53}</string>
				<key>size_Iphone6</key>
				<string>{82.5,53}</string>
				<key>fontsize</key>
				<string>30</string>
				<key>fontsize_Iphone4</key>
				<string>15</string>
				<key>fontsize_Iphone5</key>
				<string>15</string>
				<key>fontsize_Iphone6</key>
				<string>15</string>
				<key>textColor</key>
				<string>#000000</string>
				<key>text</key>
				<string>验证码验证</string>
				<key>textAlignment</key>
				<string>1</string>
				<key>lineBreakMode</key>
				<string></string>
				<key>numberOfLines</key>
				<string></string>
				<key>tag</key>
				<string></string>
				<key>hidden</key>
				<string></string>
			</dict>
		</array>
	</array>
	<key>MaskButton</key>
	<array>
		<array>
			<dict>
				<key>image</key>
				<string>二维码默认.png</string>
				<key>highlighted</key>
				<string>二维码按下.png</string>
				<key>method</key>
				<string>checkBtnClick:</string>
				<key>position</key>
				<string>{20,20}</string>
				<key>position_Iphone5</key>
				<string>{20,20}</string>
				<key>position_Iphone4</key>
				<string>{20,20}</string>
				<key>position_Iphone6</key>
				<string>{20,20}</string>
				<key>tag</key>
				<string>811</string>
			</dict>
			<dict>
				<key>image</key>
				<string>验证码默认.png</string>
				<key>highlighted</key>
				<string>验证码按下.png</string>
				<key>method</key>
				<string>checkBtnClick:</string>
				<key>position</key>
				<string>{20,126}</string>
				<key>position_Iphone5</key>
				<string>{20,126}</string>
				<key>position_Iphone4</key>
				<string>{20,126}</string>
				<key>position_Iphone6</key>
				<string>{20,126}</string>
				<key>tag</key>
				<string>812</string>
			</dict>
		</array>
	</array>
</dict>
</plist>
