<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UISegmentedControl</key>
	<array>
		<array>
			<dict>
				<key>titleName</key>
				<array>
					<string>全部</string>
					<string>未过期</string>
					<string>已过期</string>
					<string>已完成</string>
				</array>
				<key>method</key>
				<string>btnClicked:</string>
				<key>size</key>
				<string>{300,23}</string>
				<key>size_Iphone5</key>
				<string>{300,23}</string>
				<key>size_Iphone4</key>
				<string>{300,23}</string>
				<key>position</key>
				<string>{20,130}</string>
				<key>position_Iphone5</key>
				<string>{20,130}</string>
				<key>position_Iphone4</key>
				<string>{20,130}</string>
				<key>tintColor</key>
				<string>#a6c9ed</string>
				<key>selectedSegmentIndex</key>
				<string>0</string>
				<key>tag</key>
				<string>13001</string>
			</dict>
		</array>
	</array>
	<key>BackTitleBaseUIViews</key>
	<array>
		<array>
			<dict>
				<key>size</key>
				<string>{320,50}</string>
				<key>size_Iphone5</key>
				<string>{320,50}</string>
				<key>size_Iphone4</key>
				<string>{320,50}</string>
				<key>position</key>
				<string>{0,0}</string>
				<key>position_Iphone5</key>
				<string>{0,0}</string>
				<key>position_Iphone4</key>
				<string>{0,0}</string>
				<key>backgroundColor</key>
				<string>#FFFFFF</string>
				<key>tag</key>
				<string>511</string>
			</dict>
		</array>
	</array>
	<key>BackTitleUILabel</key>
	<array>
		<array>
			<dict>
				<key>backgroundColor</key>
				<string>#FFFFFF</string>
				<key>position</key>
				<string>{0,0}</string>
				<key>position_Iphone5</key>
				<string>{0,0}</string>
				<key>position_Iphone4</key>
				<string>{0,0}</string>
				<key>size</key>
				<string>{320,50}</string>
				<key>size_Iphone5</key>
				<string>{320,50}</string>
				<key>size_Iphone4</key>
				<string>{320,50}</string>
				<key>tag</key>
				<string>0</string>
				<key>textColor</key>
				<string>#000000</string>
				<key>textAlignment</key>
				<string>2</string>
				<key>fontsize</key>
				<string>30</string>
				<key>fontsize_Iphone5</key>
				<string>17</string>
				<key>fontsize_Iphone4</key>
				<string>17</string>
				<key>fontsize_Iphone6</key>
				<string>17</string>
				<key>text</key>
				<string>订单中心</string>
			</dict>
		</array>
	</array>
	<key>BackTitlecolorButtons</key>
	<array>
		<array>
			<dict>
				<key>title</key>
				<string>商家</string>
				<key>method</key>
				<string>businessBtnClicked:</string>
				<key>size</key>
				<string>{80,80}</string>
				<key>size_Iphone5</key>
				<string>{40,40}</string>
				<key>size_Iphone4</key>
				<string>{40,40}</string>
				<key>size_Iphone6</key>
				<string>{40,40}</string>
				<key>position</key>
				<string>{540,10}</string>
				<key>position_Iphone5</key>
				<string>{540,10}</string>
				<key>position_Iphone4</key>
				<string>{540,10}</string>
				<key>position_Iphone6</key>
				<string>{540,10}</string>
				<key>fontsize</key>
				<string>30</string>
				<key>fontsize_Iphone4</key>
				<string>15</string>
				<key>fontsize_Iphone5</key>
				<string>15</string>
				<key>fontsize_Iphone6</key>
				<string>15</string>
				<key>highlightcolor</key>
				<string>#ffffff</string>
				<key>color</key>
				<string>#ffffff</string>
				<key>textcolor</key>
				<string>#000000</string>
				<key>texthighlightcolor</key>
				<string>#000000</string>
				<key>cornerradius</key>
				<string>0</string>
				<key>tag</key>
				<string>14001</string>
				<key>hidden</key>
				<string>1</string>
			</dict>
		</array>
	</array>
</dict>
</plist>
