<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BackTitleBaseUIViews</key>
	<array>
		<array>
			<dict>
				<key>size</key>
				<string>{320,43}</string>
				<key>size_Iphone5</key>
				<string>{320,43}</string>
				<key>size_Iphone4</key>
				<string>{320,43}</string>
				<key>position</key>
				<string>{0,0}</string>
				<key>position_Iphone5</key>
				<string>{0,0}</string>
				<key>position_Iphone4</key>
				<string>{0,0}</string>
				<key>backgroundColor</key>
				<string>#FFFFFF</string>
				<key>tag</key>
				<string>511</string>
			</dict>
		</array>
	</array>
	<key>TextField</key>
	<array>
		<array>
			<dict>
				<key>returnKeyType</key>
				<string>9</string>
				<key>position</key>
				<string>{132,106}</string>
				<key>position_Iphone4</key>
				<string>{132,106}</string>
				<key>position_Iphone5</key>
				<string>{132,106}</string>
				<key>position_Iphone6</key>
				<string>{132,106}</string>
				<key>size</key>
				<string>{242.5,40}</string>
				<key>size_Iphone4</key>
				<string>{242.5,40}</string>
				<key>size_Iphone5</key>
				<string>{242.5,40}</string>
				<key>size_Iphone6</key>
				<string>{242.5,40}</string>
				<key>borderStyle</key>
				<string>3</string>
				<key>placeholder</key>
				<string>请输入老密码</string>
				<key>textEntry</key>
				<string>1</string>
				<key>apitalizationType</key>
				<string>0</string>
				<key>keyboardType</key>
				<string>1</string>
				<key>verticalAlignment</key>
				<string>0</string>
				<key>horizontalAlignment</key>
				<string>1</string>
				<key>tag</key>
				<string>611</string>
				<key>hidden</key>
				<string></string>
			</dict>
			<dict>
				<key>returnKeyType</key>
				<string>9</string>
				<key>position</key>
				<string>{132,206}</string>
				<key>position_Iphone4</key>
				<string>{132,206}</string>
				<key>position_Iphone5</key>
				<string>{132,206}</string>
				<key>position_Iphone6</key>
				<string>{132,206}</string>
				<key>size</key>
				<string>{242.5,40}</string>
				<key>size_Iphone4</key>
				<string>{242.5,40}</string>
				<key>size_Iphone5</key>
				<string>{242.5,40}</string>
				<key>size_Iphone6</key>
				<string>{242.5,40}</string>
				<key>borderStyle</key>
				<string>3</string>
				<key>placeholder</key>
				<string>请输入新密码</string>
				<key>textEntry</key>
				<string>1</string>
				<key>apitalizationType</key>
				<string>0</string>
				<key>keyboardType</key>
				<string>1</string>
				<key>verticalAlignment</key>
				<string>0</string>
				<key>horizontalAlignment</key>
				<string>1</string>
				<key>tag</key>
				<string>613</string>
				<key>hidden</key>
				<string></string>
			</dict>
			<dict>
				<key>returnKeyType</key>
				<string>9</string>
				<key>position</key>
				<string>{132,306}</string>
				<key>position_Iphone4</key>
				<string>{132,306}</string>
				<key>position_Iphone5</key>
				<string>{132,306}</string>
				<key>position_Iphone6</key>
				<string>{132,306}</string>
				<key>size</key>
				<string>{242.5,40}</string>
				<key>size_Iphone4</key>
				<string>{242.5,40}</string>
				<key>size_Iphone5</key>
				<string>{242.5,40}</string>
				<key>size_Iphone6</key>
				<string>{242.5,40}</string>
				<key>borderStyle</key>
				<string>3</string>
				<key>placeholder</key>
				<string>请再次确认密码</string>
				<key>textEntry</key>
				<string>1</string>
				<key>apitalizationType</key>
				<string>0</string>
				<key>keyboardType</key>
				<string>1</string>
				<key>verticalAlignment</key>
				<string>0</string>
				<key>horizontalAlignment</key>
				<string>1</string>
				<key>tag</key>
				<string>612</string>
				<key>hidden</key>
				<string></string>
			</dict>
		</array>
	</array>
	<key>BackTitleUILabel</key>
	<array>
		<array>
			<dict>
				<key>backgroundColor</key>
				<string>#FFFFFF</string>
				<key>position</key>
				<string>{0,0}</string>
				<key>position_Iphone5</key>
				<string>{0,0}</string>
				<key>position_Iphone4</key>
				<string>{0,0}</string>
				<key>size</key>
				<string>{320,43}</string>
				<key>size_Iphone5</key>
				<string>{320,43}</string>
				<key>size_Iphone4</key>
				<string>{320,43}</string>
				<key>fontsize_Iphone5</key>
				<string>15</string>
				<key>fontsize_Iphone4</key>
				<string>15</string>
				<key>tag</key>
				<string>0</string>
				<key>textColor</key>
				<string>#000000</string>
				<key>textAlignment</key>
				<string>2</string>
				<key>fontsize</key>
				<string>26</string>
				<key>text</key>
				<string>重置密码</string>
			</dict>
		</array>
	</array>
	<key>UILabel</key>
	<array>
		<array>
			<dict>
				<key>position</key>
				<string>{20,106}</string>
				<key>position_Iphone4</key>
				<string>{20,106}</string>
				<key>position_Iphone5</key>
				<string>{20,106}</string>
				<key>position_Iphone6</key>
				<string>{20,106}</string>
				<key>size</key>
				<string>{45,40}</string>
				<key>size_Iphone4</key>
				<string>{45,40}</string>
				<key>size_Iphone5</key>
				<string>{45,40}</string>
				<key>size_Iphone6</key>
				<string>{45,40}</string>
				<key>fontsize_Iphone5</key>
				<string>15</string>
				<key>fontsize_Iphone4</key>
				<string>15</string>
				<key>textColor</key>
				<string>#270d04</string>
				<key>text</key>
				<string>老密码</string>
				<key>textAlignment</key>
				<string>2</string>
				<key>lineBreakMode</key>
				<string></string>
				<key>numberOfLines</key>
				<string>1</string>
				<key>tag</key>
				<string></string>
				<key>hidden</key>
				<string></string>
			</dict>
			<dict>
				<key>position</key>
				<string>{20,206}</string>
				<key>position_Iphone4</key>
				<string>{20,206}</string>
				<key>position_Iphone5</key>
				<string>{20,206}</string>
				<key>position_Iphone6</key>
				<string>{20,206}</string>
				<key>size</key>
				<string>{45,40}</string>
				<key>size_Iphone4</key>
				<string>{45,40}</string>
				<key>size_Iphone5</key>
				<string>{45,40}</string>
				<key>size_Iphone6</key>
				<string>{45,40}</string>
				<key>fontsize_Iphone5</key>
				<string>15</string>
				<key>fontsize_Iphone4</key>
				<string>15</string>
				<key>textColor</key>
				<string>#270d04</string>
				<key>text</key>
				<string>新密码</string>
				<key>textAlignment</key>
				<string>2</string>
				<key>lineBreakMode</key>
				<string></string>
				<key>numberOfLines</key>
				<string></string>
				<key>tag</key>
				<string></string>
				<key>hidden</key>
				<string></string>
			</dict>
			<dict>
				<key>position</key>
				<string>{20,306}</string>
				<key>position_Iphone4</key>
				<string>{20,306}</string>
				<key>position_Iphone5</key>
				<string>{20,306}</string>
				<key>position_Iphone6</key>
				<string>{20,306}</string>
				<key>size</key>
				<string>{45,40}</string>
				<key>size_Iphone4</key>
				<string>{45,40}</string>
				<key>size_Iphone5</key>
				<string>{45,40}</string>
				<key>size_Iphone6</key>
				<string>{45,40}</string>
				<key>fontsize_Iphone5</key>
				<string>15</string>
				<key>fontsize_Iphone4</key>
				<string>15</string>
				<key>textColor</key>
				<string>#270d04</string>
				<key>text</key>
				<string>确认码</string>
				<key>textAlignment</key>
				<string>2</string>
				<key>lineBreakMode</key>
				<string></string>
				<key>numberOfLines</key>
				<string></string>
				<key>tag</key>
				<string></string>
				<key>hidden</key>
				<string></string>
			</dict>
		</array>
	</array>
	<key>BackTitleButtons</key>
	<array>
		<array>
			<dict>
				<key>image</key>
				<string>关闭默认.png</string>
				<key>highlighted</key>
				<string>关闭按下.png</string>
				<key>method</key>
				<string>backClicked:</string>
				<key>position</key>
				<string>{555,5}</string>
				<key>position_Iphone5</key>
				<string>{555,5}</string>
				<key>position_Iphone4</key>
				<string>{555,5}</string>
			</dict>
		</array>
	</array>
	<key>ColorButtons</key>
	<array>
		<array>
			<dict>
				<key>title</key>
				<string>确认</string>
				<key>method</key>
				<string>btnClicked:</string>
				<key>size</key>
				<string>{300,36.5}</string>
				<key>size_Iphone5</key>
				<string>{300,36.5}</string>
				<key>size_Iphone4</key>
				<string>{300,36.5}</string>
				<key>position</key>
				<string>{20,450}</string>
				<key>position_Iphone5</key>
				<string>{20,450}</string>
				<key>position_Iphone4</key>
				<string>{20,450}</string>
				<key>fontsize_Iphone5</key>
				<string>15</string>
				<key>fontsize_Iphone4</key>
				<string>15</string>
				<key>highlightcolor</key>
				<string>#FFCC99</string>
				<key>color</key>
				<string>#ff9933</string>
				<key>textcolor</key>
				<string>#270d04</string>
				<key>texthighlightcolor</key>
				<string>#3399cc</string>
				<key>cornerradius</key>
				<string>5</string>
				<key>tag</key>
				<string>1</string>
			</dict>
		</array>
	</array>
	<key>UIImageView</key>
	<array>
		<array>
			<dict>
				<key>position</key>
				<string>{0,40}</string>
				<key>position_Iphone5</key>
				<string>{0,40}</string>
				<key>position_Iphone4</key>
				<string>{0,40}</string>
				<key>image</key>
				<string>顶部.png</string>
				<key>tag</key>
				<string>0</string>
				<key>hidden</key>
				<string>0</string>
			</dict>
		</array>
	</array>
</dict>
</plist>
