<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Buttons</key>
	<array>
		<array/>
	</array>
	<key>BaseColorButtons</key>
	<array>
		<array>
			<dict>
				<key>title</key>
				<string>西安  </string>
				<key>method</key>
				<string>cityChooseClicked:</string>
				<key>size</key>
				<string>{100,50}</string>
				<key>size_Iphone5</key>
				<string>{50,50}</string>
				<key>size_Iphone4</key>
				<string>{50,50}</string>
				<key>position</key>
				<string>{0,0}</string>
				<key>position_Iphone5</key>
				<string>{0,0}</string>
				<key>position_Iphone4</key>
				<string>{0,0}</string>
				<key>fontsize_Iphone5</key>
				<string>15</string>
				<key>fontsize_Iphone4</key>
				<string>15</string>
				<key>highlightcolor</key>
				<string>#ffffff</string>
				<key>textcolor</key>
				<string>#270d04</string>
				<key>texthighlightcolor</key>
				<string>#3399cc</string>
				<key>cornerradius</key>
				<string>0</string>
				<key>tag</key>
				<string>211</string>
			</dict>
			<dict>
				<key>title</key>
				<string>登录</string>
				<key>method</key>
				<string>loginClicked:</string>
				<key>size</key>
				<string>{30,50}</string>
				<key>size_Iphone5</key>
				<string>{30,50}</string>
				<key>size_Iphone4</key>
				<string>{30,50}</string>
				<key>position</key>
				<string>{548,0}</string>
				<key>position_Iphone5</key>
				<string>{548,0}</string>
				<key>position_Iphone4</key>
				<string>{548,0}</string>
				<key>fontsize_Iphone5</key>
				<string>15</string>
				<key>fontsize_Iphone4</key>
				<string>15</string>
				<key>highlightcolor</key>
				<string>#ffffff</string>
				<key>textcolor</key>
				<string>#270d04</string>
				<key>texthighlightcolor</key>
				<string>#3399cc</string>
				<key>cornerradius</key>
				<string>0</string>
				<key>tag</key>
				<string>212</string>
			</dict>
			<dict>
				<key>title</key>
				<string>注销</string>
				<key>method</key>
				<string>logoutClicked:</string>
				<key>size</key>
				<string>{30,50}</string>
				<key>size_Iphone5</key>
				<string>{30,50}</string>
				<key>size_Iphone4</key>
				<string>{30,50}</string>
				<key>position</key>
				<string>{548,0}</string>
				<key>position_Iphone5</key>
				<string>{548,0}</string>
				<key>position_Iphone4</key>
				<string>{548,0}</string>
				<key>fontsize_Iphone5</key>
				<string>15</string>
				<key>fontsize_Iphone4</key>
				<string>15</string>
				<key>highlightcolor</key>
				<string>#ffffff</string>
				<key>color</key>
				<string>#ffffff</string>
				<key>textcolor</key>
				<string>#270d04</string>
				<key>texthighlightcolor</key>
				<string>#3399cc</string>
				<key>cornerradius</key>
				<string>0</string>
				<key>tag</key>
				<string>90214</string>
			</dict>
		</array>
	</array>
	<key>BaseTextField</key>
	<array>
		<array>
			<dict>
				<key>position</key>
				<string>{136 + 27 + 17,17}</string>
				<key>position_Iphone4</key>
				<string>{136 + 27 + 17,17}</string>
				<key>position_Iphone5</key>
				<string>{136 + 27 + 17,17}</string>
				<key>position_Iphone6</key>
				<string>{136 + 27 + 17,17}</string>
				<key>size</key>
				<string>{120,27}</string>
				<key>size_Iphone4</key>
				<string>{120,27}</string>
				<key>size_Iphone5</key>
				<string>{120,27}</string>
				<key>size_Iphone6</key>
				<string>{120,27}</string>
				<key>borderStyle</key>
				<string>0</string>
				<key>placeholder</key>
				<string>搜索</string>
				<key>textEntry</key>
				<string>0</string>
				<key>apitalizationType</key>
				<string>1</string>
				<key>keyboardType</key>
				<string>0</string>
				<key>verticalAlignment</key>
				<string>0</string>
				<key>horizontalAlignment</key>
				<string>1</string>
				<key>tag</key>
				<string>311</string>
				<key>hidden</key>
				<string></string>
			</dict>
		</array>
	</array>
	<key>BaseUIImageView</key>
	<array>
		<array>
			<dict>
				<key>position</key>
				<string>{105,42.5}</string>
				<key>position_Iphone5</key>
				<string>{105,42.5}</string>
				<key>position_Iphone4</key>
				<string>{105,42.5}</string>
				<key>image</key>
				<string>地点选择按下.png</string>
				<key>tag</key>
				<string>521</string>
				<key>hidden</key>
				<string>0</string>
			</dict>
		</array>
	</array>
	<key>BaseUISearchBar</key>
	<array>
		<array>
			<dict>
				<key>position</key>
				<string>{138,7}</string>
				<key>position_Iphone5</key>
				<string>{138,7}</string>
				<key>position_Iphone4</key>
				<string>{138,7}</string>
				<key>size</key>
				<string>{200,44}</string>
				<key>size_Iphone4</key>
				<string>{200,44}</string>
				<key>size_Iphone5</key>
				<string>{200,44}</string>
				<key>placeholder</key>
				<string>搜索</string>
				<key>searchFieldBGImgae</key>
				<string>searchFieldBG.png</string>
				<key>borderWidth</key>
				<string></string>
				<key>borderColor</key>
				<string></string>
				<key>tag</key>
				<string>611</string>
				<key>hidden</key>
				<string>0</string>
			</dict>
		</array>
	</array>
	<key>BaseUIViews</key>
	<array>
		<array>
			<dict>
				<key>size</key>
				<string>{320,50}</string>
				<key>size_Iphone5</key>
				<string>{320,50}</string>
				<key>size_Iphone4</key>
				<string>{320,50}</string>
				<key>position</key>
				<string>{0,0}</string>
				<key>position_Iphone5</key>
				<string>{0,0}</string>
				<key>position_Iphone4</key>
				<string>{0,0}</string>
				<key>backgroundColor</key>
				<string>#FFFFFF</string>
				<key>tag</key>
				<string>511</string>
			</dict>
		</array>
	</array>
</dict>
</plist>
