<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BackTitleButtons</key>
	<array>
		<array>
			<dict>
				<key>image</key>
				<string>返回默认.png</string>
				<key>highlighted</key>
				<string>返回按下.png</string>
				<key>method</key>
				<string>backClicked:</string>
				<key>position</key>
				<string>{20,10}</string>
				<key>position_Iphone5</key>
				<string>{20,10}</string>
				<key>position_Iphone4</key>
				<string>{20,10}</string>
			</dict>
		</array>
	</array>
	<key>BackTitleBaseUIViews</key>
	<array>
		<array>
			<dict>
				<key>size</key>
				<string>{320,50}</string>
				<key>size_Iphone5</key>
				<string>{320,50}</string>
				<key>size_Iphone4</key>
				<string>{320,50}</string>
				<key>position</key>
				<string>{0,0}</string>
				<key>position_Iphone5</key>
				<string>{0,0}</string>
				<key>position_Iphone4</key>
				<string>{0,0}</string>
				<key>backgroundColor</key>
				<string>#FFFFFF</string>
				<key>tag</key>
				<string>511</string>
			</dict>
		</array>
	</array>
	<key>BackTitleUILabel</key>
	<array>
		<array>
			<dict>
				<key>backgroundColor</key>
				<string>#FFFFFF</string>
				<key>position</key>
				<string>{0,0}</string>
				<key>position_Iphone5</key>
				<string>{0,0}</string>
				<key>position_Iphone4</key>
				<string>{0,0}</string>
				<key>size</key>
				<string>{320,50}</string>
				<key>size_Iphone5</key>
				<string>{320,50}</string>
				<key>size_Iphone4</key>
				<string>{320,50}</string>
				<key>tag</key>
				<string>311</string>
				<key>textColor</key>
				<string>#000000</string>
				<key>textAlignment</key>
				<string>2</string>
				<key>fontsize</key>
				<string>17</string>
				<key>fontsize_Iphone5</key>
				<string>17</string>
				<key>fontsize_Iphone4</key>
				<string>17</string>
				<key>text</key>
				<string>特色玩法详情</string>
			</dict>
		</array>
	</array>
	<key>UILabel</key>
	<array>
		<array>
			<dict>
				<key>position</key>
				<string>{124,255}</string>
				<key>position_Iphone4</key>
				<string>{124,255}</string>
				<key>position_Iphone5</key>
				<string>{124,255}</string>
				<key>position_Iphone6</key>
				<string>{124,255}</string>
				<key>size</key>
				<string>{200,60}</string>
				<key>size_Iphone4</key>
				<string>{100,30}</string>
				<key>size_Iphone5</key>
				<string>{100,30}</string>
				<key>size_Iphone6</key>
				<string>{30,100}</string>
				<key>fontsize</key>
				<string>26</string>
				<key>fontsize_Iphone4</key>
				<string>13</string>
				<key>fontsize_Iphone5</key>
				<string>13</string>
				<key>textColor</key>
				<string>#000000</string>
				<key>text</key>
				<string></string>
				<key>textAlignment</key>
				<string>0</string>
				<key>lineBreakMode</key>
				<string></string>
				<key>numberOfLines</key>
				<string></string>
				<key>tag</key>
				<string>90411</string>
				<key>hidden</key>
				<string></string>
			</dict>
			<dict>
				<key>position</key>
				<string>{441,255}</string>
				<key>position_Iphone4</key>
				<string>{441,255}</string>
				<key>position_Iphone5</key>
				<string>{441,255}</string>
				<key>position_Iphone6</key>
				<string>{441,255}</string>
				<key>size</key>
				<string>{200,60}</string>
				<key>size_Iphone4</key>
				<string>{100,30}</string>
				<key>size_Iphone5</key>
				<string>{100,30}</string>
				<key>size_Iphone6</key>
				<string>{100,30}</string>
				<key>fontsize</key>
				<string>26</string>
				<key>fontsize_Iphone4</key>
				<string>13</string>
				<key>fontsize_Iphone5</key>
				<string>13</string>
				<key>textColor</key>
				<string>#000000</string>
				<key>text</key>
				<string></string>
				<key>textAlignment</key>
				<string>0</string>
				<key>lineBreakMode</key>
				<string></string>
				<key>numberOfLines</key>
				<string></string>
				<key>tag</key>
				<string>90412</string>
				<key>hidden</key>
				<string></string>
			</dict>
		</array>
	</array>
	<key>ColorButtons</key>
	<array>
		<array>
			<dict>
				<key>title</key>
				<string>报名参加</string>
				<key>method</key>
				<string>joinBtnClicked:</string>
				<key>size</key>
				<string>{160,35}</string>
				<key>size_Iphone5</key>
				<string>{160,35}</string>
				<key>size_Iphone4</key>
				<string>{160,35}</string>
				<key>position</key>
				<string>{0,250}</string>
				<key>position_Iphone5</key>
				<string>{0,250}</string>
				<key>position_Iphone4</key>
				<string>{0,250}</string>
				<key>fontsize</key>
				<string>20</string>
				<key>fontsize_Iphone5</key>
				<string>20</string>
				<key>fontsize_Iphone4</key>
				<string>20</string>
				<key>highlightcolor</key>
				<string>#ffe0f0</string>
				<key>textcolor</key>
				<string>#ffffff</string>
				<key>texthighlightcolor</key>
				<string>#3399cc</string>
				<key>color</key>
				<string>#cc6633</string>
				<key>cornerradius</key>
				<string>5</string>
				<key>tag</key>
				<string>211</string>
			</dict>
			<dict>
				<key>title</key>
				<string>报名参加</string>
				<key>method</key>
				<string>joinBtnClicked:</string>
				<key>size</key>
				<string>{170,110}</string>
				<key>size_Iphone5</key>
				<string>{85,55}</string>
				<key>size_Iphone4</key>
				<string>{85,55}</string>
				<key>position</key>
				<string>{450,253}</string>
				<key>position_Iphone5</key>
				<string>{450,253}</string>
				<key>position_Iphone4</key>
				<string>{450,253}</string>
				<key>fontsize</key>
				<string>20</string>
				<key>fontsize_Iphone5</key>
				<string>20</string>
				<key>fontsize_Iphone4</key>
				<string>20</string>
				<key>highlightcolor</key>
				<string>#ffe0f0</string>
				<key>textcolor</key>
				<string>#ffffff</string>
				<key>texthighlightcolor</key>
				<string>#3399cc</string>
				<key>color</key>
				<string>#cc6633</string>
				<key>cornerradius</key>
				<string>5</string>
				<key>tag</key>
				<string>211</string>
			</dict>
		</array>
	</array>
	<key>UIView</key>
	<array>
		<array>
			<dict>
				<key>size</key>
				<string>{640,70}</string>
				<key>size_Iphone5</key>
				<string>{320,35}</string>
				<key>size_Iphone4</key>
				<string>{320,35}</string>
				<key>position</key>
				<string>{0,250}</string>
				<key>position_Iphone5</key>
				<string>{0,250}</string>
				<key>position_Iphone4</key>
				<string>{0,250}</string>
				<key>backgroundColor</key>
				<string>#ececec</string>
				<key>tag</key>
				<string>611</string>
			</dict>
			<dict>
				<key>size</key>
				<string>{1,60}</string>
				<key>size_Iphone5</key>
				<string>{0.5,30}</string>
				<key>size_Iphone4</key>
				<string>{0.5,30}</string>
				<key>position</key>
				<string>{320,255}</string>
				<key>position_Iphone5</key>
				<string>{320,255}</string>
				<key>position_Iphone4</key>
				<string>{320,255}</string>
				<key>backgroundColor</key>
				<string>#7d7d7d</string>
				<key>tag</key>
				<string>613</string>
			</dict>
		</array>
	</array>
	<key>Buttons</key>
	<array>
		<array>
			<dict>
				<key>image</key>
				<string>去过默认.png</string>
				<key>highlighted</key>
				<string>去过默认.png</string>
				<key>method</key>
				<string>beenBtnClicked:</string>
				<key>position</key>
				<string>{64,255}</string>
				<key>position_Iphone5</key>
				<string>{64,255}</string>
				<key>position_Iphone4</key>
				<string>{64,255}</string>
				<key>tag</key>
				<string>60711</string>
			</dict>
			<dict>
				<key>image</key>
				<string>想去默认.png</string>
				<key>highlighted</key>
				<string>想去默认.png</string>
				<key>method</key>
				<string>wantGoBtnClicked:</string>
				<key>position</key>
				<string>{381,255}</string>
				<key>position_Iphone5</key>
				<string>{381,255}</string>
				<key>position_Iphone4</key>
				<string>{381,255}</string>
				<key>tag</key>
				<string>60712</string>
			</dict>
		</array>
	</array>
</dict>
</plist>
