<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BackTitleButtons</key>
	<array>
		<array>
			<dict>
				<key>image</key>
				<string>关闭默认.png</string>
				<key>highlighted</key>
				<string>关闭按下.png</string>
				<key>method</key>
				<string>backClicked:</string>
				<key>position</key>
				<string>{555,5}</string>
				<key>position_Iphone5</key>
				<string>{555,5}</string>
				<key>position_Iphone4</key>
				<string>{555,5}</string>
			</dict>
		</array>
	</array>
	<key>BackTitleBaseUIViews</key>
	<array>
		<array>
			<dict>
				<key>size</key>
				<string>{320,50}</string>
				<key>size_Iphone5</key>
				<string>{320,50}</string>
				<key>size_Iphone4</key>
				<string>{320,50}</string>
				<key>position</key>
				<string>{0,0}</string>
				<key>position_Iphone5</key>
				<string>{0,0}</string>
				<key>position_Iphone4</key>
				<string>{0,0}</string>
				<key>backgroundColor</key>
				<string>#FFFFFF</string>
				<key>tag</key>
				<string>511</string>
			</dict>
		</array>
	</array>
	<key>BackTitleUILabel</key>
	<array>
		<array>
			<dict>
				<key>backgroundColor</key>
				<string>#FFFFFF</string>
				<key>position</key>
				<string>{0,0}</string>
				<key>position_Iphone5</key>
				<string>{0,0}</string>
				<key>position_Iphone4</key>
				<string>{0,0}</string>
				<key>size</key>
				<string>{320,50}</string>
				<key>size_Iphone5</key>
				<string>{320,50}</string>
				<key>size_Iphone4</key>
				<string>{320,50}</string>
				<key>tag</key>
				<string>0</string>
				<key>textColor</key>
				<string>#000000</string>
				<key>textAlignment</key>
				<string>2</string>
				<key>fontsize</key>
				<string>34</string>
				<key>fontsize_Iphone5</key>
				<string>17</string>
				<key>fontsize_Iphone4</key>
				<string>17</string>
				<key>fontsize_Iphone6</key>
				<string>17</string>
				<key>text</key>
				<string>步行／公交线路详细</string>
			</dict>
		</array>
	</array>
</dict>
</plist>
