<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Buttons</key>
	<array>
		<array/>
	</array>
	<key>BackTitleButtons</key>
	<array>
		<array>
			<dict>
				<key>image</key>
				<string>返回默认.png</string>
				<key>highlighted</key>
				<string>返回按下.png</string>
				<key>method</key>
				<string>backClicked:</string>
				<key>position</key>
				<string>{20,10}</string>
				<key>position_Iphone5</key>
				<string>{20,10}</string>
				<key>position_Iphone4</key>
				<string>{20,10}</string>
			</dict>
			<dict>
				<key>image</key>
				<string>拨打电话默认.png</string>
				<key>highlighted</key>
				<string>拨打电话按下.png</string>
				<key>method</key>
				<string>callBtnClicked:</string>
				<key>position</key>
				<string>{540,10}</string>
				<key>position_Iphone5</key>
				<string>{540,10}</string>
				<key>position_Iphone4</key>
				<string>{540,10}</string>
			</dict>
		</array>
	</array>
	<key>BackTitleBaseUIViews</key>
	<array>
		<array>
			<dict>
				<key>size</key>
				<string>{320,50}</string>
				<key>size_Iphone5</key>
				<string>{320,50}</string>
				<key>size_Iphone4</key>
				<string>{320,50}</string>
				<key>position</key>
				<string>{0,0}</string>
				<key>position_Iphone5</key>
				<string>{0,0}</string>
				<key>position_Iphone4</key>
				<string>{0,0}</string>
				<key>backgroundColor</key>
				<string>#FFFFFF</string>
				<key>tag</key>
				<string>511</string>
			</dict>
		</array>
	</array>
	<key>BackTitleUILabel</key>
	<array>
		<array>
			<dict>
				<key>backgroundColor</key>
				<string>#FFFFFF</string>
				<key>position</key>
				<string>{0,0}</string>
				<key>position_Iphone5</key>
				<string>{0,0}</string>
				<key>position_Iphone4</key>
				<string>{0,0}</string>
				<key>size</key>
				<string>{320,50}</string>
				<key>size_Iphone5</key>
				<string>{320,50}</string>
				<key>size_Iphone4</key>
				<string>{320,50}</string>
				<key>tag</key>
				<string>311</string>
				<key>textColor</key>
				<string>#000000</string>
				<key>textAlignment</key>
				<string>2</string>
				<key>fontsize</key>
				<string>17</string>
				<key>fontsize_Iphone5</key>
				<string>17</string>
				<key>fontsize_Iphone4</key>
				<string>17</string>
				<key>text</key>
				<string>路线详情</string>
			</dict>
		</array>
	</array>
	<key>UILabel</key>
	<array>
		<array>
			<dict>
				<key>position</key>
				<string>{20,251}</string>
				<key>position_Iphone4</key>
				<string>{20,251}</string>
				<key>position_Iphone5</key>
				<string>{20,251}</string>
				<key>position_Iphone6</key>
				<string>{20,251}</string>
				<key>size</key>
				<string>{400,35}</string>
				<key>size_Iphone4</key>
				<string>{200,35}</string>
				<key>size_Iphone5</key>
				<string>{200,35}</string>
				<key>size_Iphone6</key>
				<string>{200,35}</string>
				<key>fontsize</key>
				<string>30</string>
				<key>fontsize_Iphone4</key>
				<string>15</string>
				<key>fontsize_Iphone5</key>
				<string>15</string>
				<key>boldFont</key>
				<string>1</string>
				<key>textColor</key>
				<string>#000000</string>
				<key>text</key>
				<string>抱龙于拉梁、看瀑布一日游</string>
				<key>textAlignment</key>
				<string>0</string>
				<key>lineBreakMode</key>
				<string></string>
				<key>numberOfLines</key>
				<string></string>
				<key>tag</key>
				<string>411</string>
				<key>hidden</key>
				<string></string>
			</dict>
			<dict>
				<key>backgroundColor</key>
				<string>#e094b1</string>
				<key>position</key>
				<string>{20,316}</string>
				<key>position_Iphone4</key>
				<string>{20,316}</string>
				<key>position_Iphone5</key>
				<string>{20,316}</string>
				<key>position_Iphone6</key>
				<string>{20,316}</string>
				<key>size</key>
				<string>{164,60}</string>
				<key>size_Iphone4</key>
				<string>{82,30}</string>
				<key>size_Iphone5</key>
				<string>{82,30}</string>
				<key>size_Iphone6</key>
				<string>{82,30}</string>
				<key>fontsize</key>
				<string>30</string>
				<key>fontsize_Iphone4</key>
				<string>22</string>
				<key>fontsize_Iphone5</key>
				<string>22</string>
				<key>boldFont</key>
				<string>1</string>
				<key>textColor</key>
				<string>#ffffff</string>
				<key>text</key>
				<string>5折</string>
				<key>textAlignment</key>
				<string>2</string>
				<key>lineBreakMode</key>
				<string></string>
				<key>numberOfLines</key>
				<string></string>
				<key>tag</key>
				<string>412</string>
				<key>hidden</key>
				<string></string>
			</dict>
			<dict>
				<key>position</key>
				<string>{20,540}</string>
				<key>position_Iphone4</key>
				<string>{20,540}</string>
				<key>position_Iphone5</key>
				<string>{20,540}</string>
				<key>position_Iphone6</key>
				<string>{20,540}</string>
				<key>size</key>
				<string>{70,37}</string>
				<key>size_Iphone4</key>
				<string>{70,37}</string>
				<key>size_Iphone5</key>
				<string>{70,37}</string>
				<key>size_Iphone6</key>
				<string>{70,37}</string>
				<key>fontsize</key>
				<string>30</string>
				<key>fontsize_Iphone4</key>
				<string>15</string>
				<key>fontsize_Iphone5</key>
				<string>15</string>
				<key>boldFont</key>
				<string>1</string>
				<key>textColor</key>
				<string>#000000</string>
				<key>text</key>
				<string>集 结 地：</string>
				<key>textAlignment</key>
				<string>0</string>
				<key>lineBreakMode</key>
				<string></string>
				<key>numberOfLines</key>
				<string></string>
				<key>tag</key>
				<string>413</string>
				<key>hidden</key>
				<string></string>
			</dict>
			<dict>
				<key>position</key>
				<string>{170,540}</string>
				<key>position_Iphone4</key>
				<string>{170,540}</string>
				<key>position_Iphone5</key>
				<string>{170,540}</string>
				<key>position_Iphone6</key>
				<string>{170,540}</string>
				<key>size</key>
				<string>{70,37}</string>
				<key>size_Iphone4</key>
				<string>{70,37}</string>
				<key>size_Iphone5</key>
				<string>{70,37}</string>
				<key>size_Iphone6</key>
				<string>{70,37}</string>
				<key>fontsize</key>
				<string>30</string>
				<key>fontsize_Iphone4</key>
				<string>15</string>
				<key>fontsize_Iphone5</key>
				<string>15</string>
				<key>textColor</key>
				<string>#000000</string>
				<key>text</key>
				<string>体育场西</string>
				<key>textAlignment</key>
				<string>0</string>
				<key>lineBreakMode</key>
				<string></string>
				<key>numberOfLines</key>
				<string></string>
				<key>tag</key>
				<string>414</string>
				<key>hidden</key>
				<string></string>
			</dict>
			<dict>
				<key>backgroundColor</key>
				<string>#e094b1</string>
				<key>position</key>
				<string>{467,553}</string>
				<key>position_Iphone4</key>
				<string>{467,553}</string>
				<key>position_Iphone5</key>
				<string>{467,553}</string>
				<key>position_Iphone6</key>
				<string>{467,553}</string>
				<key>size</key>
				<string>{77,48}</string>
				<key>size_Iphone4</key>
				<string>{77,24}</string>
				<key>size_Iphone5</key>
				<string>{77,24}</string>
				<key>size_Iphone6</key>
				<string>{77,24}</string>
				<key>fontsize</key>
				<string>30</string>
				<key>fontsize_Iphone4</key>
				<string>15</string>
				<key>fontsize_Iphone5</key>
				<string>15</string>
				<key>textColor</key>
				<string>#ffffff</string>
				<key>text</key>
				<string>剩余：12</string>
				<key>textAlignment</key>
				<string>2</string>
				<key>lineBreakMode</key>
				<string></string>
				<key>numberOfLines</key>
				<string></string>
				<key>tag</key>
				<string>415</string>
				<key>hidden</key>
				<string></string>
			</dict>
			<dict>
				<key>position</key>
				<string>{20,482}</string>
				<key>position_Iphone4</key>
				<string>{20,482}</string>
				<key>position_Iphone5</key>
				<string>{20,482}</string>
				<key>position_Iphone6</key>
				<string>{20,482}</string>
				<key>size</key>
				<string>{100,37}</string>
				<key>size_Iphone4</key>
				<string>{100,37}</string>
				<key>size_Iphone5</key>
				<string>{100,37}</string>
				<key>size_Iphone6</key>
				<string>{100,37}</string>
				<key>fontsize</key>
				<string>30</string>
				<key>fontsize_Iphone4</key>
				<string>15</string>
				<key>fontsize_Iphone5</key>
				<string>15</string>
				<key>boldFont</key>
				<string>1</string>
				<key>textColor</key>
				<string>#000000</string>
				<key>text</key>
				<string>集结时间：</string>
				<key>textAlignment</key>
				<string>0</string>
				<key>lineBreakMode</key>
				<string></string>
				<key>numberOfLines</key>
				<string></string>
				<key>tag</key>
				<string>416</string>
				<key>hidden</key>
				<string></string>
			</dict>
			<dict>
				<key>position</key>
				<string>{170,482}</string>
				<key>position_Iphone4</key>
				<string>{170,482}</string>
				<key>position_Iphone5</key>
				<string>{170,482}</string>
				<key>position_Iphone6</key>
				<string>{170,482}</string>
				<key>size</key>
				<string>{200,37}</string>
				<key>size_Iphone4</key>
				<string>{100,37}</string>
				<key>size_Iphone5</key>
				<string>{100,37}</string>
				<key>size_Iphone6</key>
				<string>{100,37}</string>
				<key>fontsize</key>
				<string>30</string>
				<key>fontsize_Iphone4</key>
				<string>15</string>
				<key>fontsize_Iphone5</key>
				<string>15</string>
				<key>textColor</key>
				<string>#000000</string>
				<key>text</key>
				<string>2014/7/19</string>
				<key>textAlignment</key>
				<string>0</string>
				<key>lineBreakMode</key>
				<string></string>
				<key>numberOfLines</key>
				<string></string>
				<key>tag</key>
				<string>417</string>
				<key>hidden</key>
				<string></string>
			</dict>
			<dict>
				<key>position</key>
				<string>{467,482}</string>
				<key>position_Iphone4</key>
				<string>{467,482}</string>
				<key>position_Iphone5</key>
				<string>{467,482}</string>
				<key>position_Iphone6</key>
				<string>{467,482}</string>
				<key>size</key>
				<string>{77,37}</string>
				<key>size_Iphone4</key>
				<string>{77,37}</string>
				<key>size_Iphone5</key>
				<string>{77,37}</string>
				<key>size_Iphone6</key>
				<string>{77,37}</string>
				<key>fontsize</key>
				<string>30</string>
				<key>fontsize_Iphone4</key>
				<string>15</string>
				<key>fontsize_Iphone5</key>
				<string>15</string>
				<key>textColor</key>
				<string>#000000</string>
				<key>text</key>
				<string>AM 7:00</string>
				<key>textAlignment</key>
				<string>2</string>
				<key>lineBreakMode</key>
				<string></string>
				<key>numberOfLines</key>
				<string></string>
				<key>tag</key>
				<string>418</string>
				<key>hidden</key>
				<string></string>
			</dict>
		</array>
	</array>
	<key>ColorButtons</key>
	<array>
		<array>
			<dict>
				<key>title</key>
				<string>报名参加</string>
				<key>method</key>
				<string>joinBtnClicked:</string>
				<key>size</key>
				<string>{170,110}</string>
				<key>size_Iphone5</key>
				<string>{85,55}</string>
				<key>size_Iphone4</key>
				<string>{85,55}</string>
				<key>position</key>
				<string>{450,270}</string>
				<key>position_Iphone5</key>
				<string>{450,270}</string>
				<key>position_Iphone4</key>
				<string>{450,270}</string>
				<key>fontsize</key>
				<string>20</string>
				<key>fontsize_Iphone5</key>
				<string>20</string>
				<key>fontsize_Iphone4</key>
				<string>20</string>
				<key>boldFont</key>
				<string>1</string>
				<key>highlightcolor</key>
				<string>#e094b1</string>
				<key>textcolor</key>
				<string>#ffffff</string>
				<key>texthighlightcolor</key>
				<string>#3399cc</string>
				<key>color</key>
				<string>#cc6633</string>
				<key>cornerradius</key>
				<string>5</string>
				<key>tag</key>
				<string>211</string>
			</dict>
		</array>
	</array>
	<key>UIView</key>
	<array>
		<array>
			<dict>
				<key>size</key>
				<string>{320,144}</string>
				<key>size_Iphone5</key>
				<string>{320,72}</string>
				<key>size_Iphone4</key>
				<string>{320,72}</string>
				<key>position</key>
				<string>{0,250}</string>
				<key>position_Iphone5</key>
				<string>{0,250}</string>
				<key>position_Iphone4</key>
				<string>{0,250}</string>
				<key>backgroundColor</key>
				<string>#ececec</string>
				<key>tag</key>
				<string>611</string>
			</dict>
			<dict>
				<key>size</key>
				<string>{320,2}</string>
				<key>size_Iphone5</key>
				<string>{320,1}</string>
				<key>size_Iphone4</key>
				<string>{320,1}</string>
				<key>position</key>
				<string>{0,616}</string>
				<key>position_Iphone5</key>
				<string>{0,616}</string>
				<key>position_Iphone4</key>
				<string>{0,616}</string>
				<key>backgroundColor</key>
				<string>#9c9c9c</string>
				<key>tag</key>
				<string>612</string>
			</dict>
		</array>
	</array>
</dict>
</plist>
