<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIViews</key>
	<array>
		<array>
			<dict>
				<key>size</key>
				<string>{290,222.5}</string>
				<key>size_Iphone5</key>
				<string>{290,222.5}</string>
				<key>size_Iphone4</key>
				<string>{290,222.5}</string>
				<key>size_Iphone6</key>
				<string>{290,222.5}</string>
				<key>position</key>
				<string>{0,0}</string>
				<key>position_Iphone5</key>
				<string>{0,0}</string>
				<key>position_Iphone4</key>
				<string>{0,0}</string>
				<key>position_Iphone6</key>
				<string>{0,0}</string>
				<key>backgroundColor</key>
				<string>#CDC9C9</string>
				<key>cornerRadius</key>
				<string></string>
				<key>borderWidth</key>
				<string></string>
				<key>borderColor</key>
				<string></string>
				<key>alpha</key>
				<string>0.7</string>
				<key>tag</key>
				<string>1111</string>
			</dict>
			<dict>
				<key>size</key>
				<string>{580,80}</string>
				<key>size_Iphone5</key>
				<string>{290,40}</string>
				<key>size_Iphone4</key>
				<string>{290,40}</string>
				<key>size_Iphone6</key>
				<string>{290,40}</string>
				<key>position</key>
				<string>{0,0}</string>
				<key>position_Iphone5</key>
				<string>{0,0}</string>
				<key>position_Iphone4</key>
				<string>{0,0}</string>
				<key>position_Iphone6</key>
				<string>{0,0}</string>
				<key>backgroundColor</key>
				<string>#ff9933</string>
				<key>cornerRadius</key>
				<string></string>
				<key>borderWidth</key>
				<string></string>
				<key>borderColor</key>
				<string></string>
				<key>tag</key>
				<string>1112</string>
			</dict>
			<dict>
				<key>size</key>
				<string>{540,160}</string>
				<key>size_Iphone5</key>
				<string>{270,80}</string>
				<key>size_Iphone4</key>
				<string>{270,80}</string>
				<key>size_Iphone6</key>
				<string>{270,80}</string>
				<key>position</key>
				<string>{20,120}</string>
				<key>position_Iphone5</key>
				<string>{20,120}</string>
				<key>position_Iphone4</key>
				<string>{20,120}</string>
				<key>position_Iphone6</key>
				<string>{20,120}</string>
				<key>backgroundColor</key>
				<string>#ffffff</string>
				<key>cornerRadius</key>
				<string>10</string>
				<key>borderWidth</key>
				<string>1</string>
				<key>borderColor</key>
				<string>#e5e5e5</string>
				<key>tag</key>
				<string>1113</string>
			</dict>
		</array>
	</array>
	<key>ColorButtons</key>
	<array>
		<array>
			<dict>
				<key>title</key>
				<string>确定</string>
				<key>method</key>
				<string>btnClicked:</string>
				<key>size</key>
				<string>{540,75}</string>
				<key>size_Iphone5</key>
				<string>{270,38.5}</string>
				<key>size_Iphone4</key>
				<string>{270,38.5}</string>
				<key>size_Iphone6</key>
				<string>{270,38.5}</string>
				<key>position</key>
				<string>{20,330}</string>
				<key>position_Iphone5</key>
				<string>{20,330}</string>
				<key>position_Iphone4</key>
				<string>{20,330}</string>
				<key>position_Iphone6</key>
				<string>{20,330}</string>
				<key>fontsize</key>
				<string>30</string>
				<key>fontsize_Iphone4</key>
				<string>15</string>
				<key>fontsize_Iphone5</key>
				<string>15</string>
				<key>fontsize_Iphone6</key>
				<string>15</string>
				<key>highlightcolor</key>
				<string>#b40000</string>
				<key>color</key>
				<string>#ff9933</string>
				<key>textcolor</key>
				<string>#ffffff</string>
				<key>texthighlightcolor</key>
				<string>#FFFFFF</string>
				<key>cornerradius</key>
				<string>5</string>
				<key>tag</key>
				<string>1311</string>
			</dict>
		</array>
	</array>
	<key>Buttons</key>
	<array>
		<array>
			<dict>
				<key>image</key>
				<string>关闭默认.png</string>
				<key>highlighted</key>
				<string>关闭按下.png</string>
				<key>method</key>
				<string>closeBtnClicked:</string>
				<key>position</key>
				<string>{510,0}</string>
				<key>position_Iphone5</key>
				<string>{510,0}</string>
				<key>position_Iphone4</key>
				<string>{510,0}</string>
				<key>tag</key>
				<string>1411</string>
			</dict>
		</array>
	</array>
	<key>UILabels</key>
	<array>
		<array>
			<dict>
				<key>backgroundColor</key>
				<string>#ff9933</string>
				<key>position</key>
				<string>{100,0}</string>
				<key>position_Iphone5</key>
				<string>{100,0}</string>
				<key>position_Iphone4</key>
				<string>{100,0}</string>
				<key>position_Iphone6</key>
				<string>{100,0}</string>
				<key>size</key>
				<string>{380,80}</string>
				<key>size_Iphone5</key>
				<string>{190,40}</string>
				<key>size_Iphone4</key>
				<string>{190,40}</string>
				<key>size_Iphone6</key>
				<string>{190,40}</string>
				<key>tag</key>
				<string>1511</string>
				<key>textColor</key>
				<string>#ffffff</string>
				<key>textAlignment</key>
				<string>2</string>
				<key>fontsize</key>
				<string>30</string>
				<key>fontsize_Iphone5</key>
				<string>15</string>
				<key>fontsize_Iphone4</key>
				<string>15</string>
				<key>fontsize_Iphone6</key>
				<string>15</string>
				<key>boldFont</key>
				<string>1</string>
				<key>text</key>
				<string>密码找回</string>
			</dict>
			<dict>
				<key>position</key>
				<string>{30,160}</string>
				<key>position_Iphone5</key>
				<string>{5,160}</string>
				<key>position_Iphone4</key>
				<string>{5,160}</string>
				<key>position_Iphone6</key>
				<string>{5,160}</string>
				<key>size</key>
				<string>{160,80}</string>
				<key>size_Iphone5</key>
				<string>{110,40}</string>
				<key>size_Iphone4</key>
				<string>{110,40}</string>
				<key>size_Iphone6</key>
				<string>{110,40}</string>
				<key>tag</key>
				<string>1513</string>
				<key>textColor</key>
				<string>#000000</string>
				<key>textAlignment</key>
				<string>1</string>
				<key>fontsize</key>
				<string>26</string>
				<key>fontsize_Iphone5</key>
				<string>13</string>
				<key>fontsize_Iphone4</key>
				<string>13</string>
				<key>fontsize_Iphone6</key>
				<string>13</string>
				<key>boldFont</key>
				<string>1</string>
				<key>text</key>
				<string>输入绑定邮箱：</string>
			</dict>
		</array>
	</array>
	<key>UITextFields</key>
	<array>
		<array>
			<dict>
				<key>position</key>
				<string>{205,160}</string>
				<key>position_Iphone4</key>
				<string>{210,160}</string>
				<key>position_Iphone5</key>
				<string>{210,160}</string>
				<key>position_Iphone6</key>
				<string>{210,160}</string>
				<key>size</key>
				<string>{260,80}</string>
				<key>size_Iphone4</key>
				<string>{170,40}</string>
				<key>size_Iphone5</key>
				<string>{170,40}</string>
				<key>size_Iphone6</key>
				<string>{170,40}</string>
				<key>fontsize</key>
				<string>11</string>
				<key>fontsize_Iphone4</key>
				<string>11</string>
				<key>fontsize_Iphone5</key>
				<string>11</string>
				<key>fontsize_Iphone6</key>
				<string>11</string>
				<key>borderStyle</key>
				<string>0</string>
				<key>placeholder</key>
				<string>请输入绑定邮箱</string>
				<key>textEntry</key>
				<string>0</string>
				<key>apitalizationType</key>
				<string>0</string>
				<key>verticalAlignment</key>
				<string>0</string>
				<key>horizontalAlignment</key>
				<string>1</string>
				<key>tag</key>
				<string>1611</string>
				<key>hidden</key>
				<string></string>
			</dict>
		</array>
	</array>
	<key>KeyValueDatas</key>
	<array>
		<dict>
			<key>key</key>
			<string>UIViews</string>
			<key>index</key>
			<string>0</string>
		</dict>
		<dict>
			<key>key</key>
			<string>ColorButtons</string>
			<key>index</key>
			<string>0</string>
		</dict>
		<dict>
			<key>key</key>
			<string>Buttons</string>
			<key>index</key>
			<string>0</string>
		</dict>
		<dict>
			<key>key</key>
			<string>UILabels</string>
			<key>index</key>
			<string>0</string>
		</dict>
		<dict>
			<key>key</key>
			<string>UITextFields</string>
			<key>index</key>
			<string>0</string>
		</dict>
	</array>
</dict>
</plist>
