<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIViews</key>
	<array>
		<array>
			<dict>
				<key>size</key>
				<string>{100,100}</string>
				<key>size_Iphone5</key>
				<string>{100,100}</string>
				<key>size_Iphone4</key>
				<string>{100,100}</string>
				<key>position</key>
				<string>{0,0}</string>
				<key>position_Iphone5</key>
				<string>{0,0}</string>
				<key>position_Iphone4</key>
				<string>{0,0}</string>
				<key>backgroundColor</key>
				<string>#FFFFFF</string>
				<key>tag</key>
				<string>511</string>
			</dict>
		</array>
	</array>
	<key>UIImageViews</key>
	<array>
		<array>
			<dict>
				<key>position</key>
				<string>{145,100}</string>
				<key>position_Iphone5</key>
				<string>{145,100}</string>
				<key>position_Iphone4</key>
				<string>{145,100}</string>
				<key>image</key>
				<string>排序上默认.png</string>
				<key>tag</key>
				<string>50001</string>
			</dict>
		</array>
	</array>
	<key>ColorButtons</key>
	<array>
		<array>
			<dict>
				<key>title</key>
				<string>确定</string>
				<key>method</key>
				<string>testClicked:</string>
				<key>size</key>
				<string>{40,23}</string>
				<key>size_Iphone5</key>
				<string>{40,23}</string>
				<key>size_Iphone4</key>
				<string>{40,23}</string>
				<key>position</key>
				<string>{0,150}</string>
				<key>position_Iphone5</key>
				<string>{0,150}</string>
				<key>position_Iphone4</key>
				<string>{0,150}</string>
				<key>fontsize_Iphone5</key>
				<string>15</string>
				<key>fontsize_Iphone4</key>
				<string>15</string>
				<key>highlightcolor</key>
				<string>#6699FF</string>
				<key>color</key>
				<string>#CCCCCC</string>
				<key>textcolor</key>
				<string>#3366CC</string>
				<key>texthighlightcolor</key>
				<string>#FFFFFF</string>
				<key>tag</key>
				<string>1001</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>title</key>
				<string>取消</string>
				<key>method</key>
				<string>testClicked:</string>
				<key>size</key>
				<string>{40,23}</string>
				<key>size_Iphone5</key>
				<string>{40,23}</string>
				<key>size_Iphone4</key>
				<string>{40,23}</string>
				<key>position</key>
				<string>{120,150}</string>
				<key>position_Iphone5</key>
				<string>{120,150}</string>
				<key>position_Iphone4</key>
				<string>{120,150}</string>
				<key>fontsize_Iphone5</key>
				<string>15</string>
				<key>fontsize_Iphone4</key>
				<string>15</string>
				<key>highlightcolor</key>
				<string>#6699FF</string>
				<key>color</key>
				<string>#CCCCCC</string>
				<key>textcolor</key>
				<string>#3366CC</string>
				<key>texthighlightcolor</key>
				<string>#FFFFFF</string>
				<key>tag</key>
				<string>1002</string>
			</dict>
		</array>
	</array>
	<key>Buttons</key>
	<array>
		<array>
			<dict>
				<key>image</key>
				<string>关闭默认.png</string>
				<key>highlighted</key>
				<string>关闭按下.png</string>
				<key>method</key>
				<string>testClicked:</string>
				<key>position</key>
				<string>{150,0}</string>
				<key>position_Iphone5</key>
				<string>{150,0}</string>
				<key>position_Iphone4</key>
				<string>{150,0}</string>
				<key>tag</key>
				<string>111</string>
			</dict>
		</array>
	</array>
	<key>KeyValueDatas</key>
	<array>
		<dict>
			<key>key</key>
			<string>UIViews</string>
			<key>index</key>
			<string>0</string>
		</dict>
		<dict>
			<key>key</key>
			<string>ColorButtons</string>
			<key>index</key>
			<string>0</string>
		</dict>
		<dict>
			<key>key</key>
			<string>Buttons</string>
			<key>index</key>
			<string>0</string>
		</dict>
		<dict>
			<key>key</key>
			<string>ColorButtons</string>
			<key>index</key>
			<string>1</string>
		</dict>
		<dict>
			<key>key</key>
			<string>UIImageViews</string>
			<key>index</key>
			<string>0</string>
		</dict>
	</array>
</dict>
</plist>
