<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIViews</key>
	<array>
		<array>
			<dict>
				<key>size</key>
				<string>{290,252.5}</string>
				<key>size_Iphone5</key>
				<string>{290,252.5}</string>
				<key>size_Iphone4</key>
				<string>{290,252.5}</string>
				<key>size_Iphone6</key>
				<string>{290,252.5}</string>
				<key>position</key>
				<string>{0,0}</string>
				<key>position_Iphone5</key>
				<string>{0,0}</string>
				<key>position_Iphone4</key>
				<string>{0,0}</string>
				<key>position_Iphone6</key>
				<string>{0,0}</string>
				<key>backgroundColor</key>
				<string>#CDC9C9</string>
				<key>cornerRadius</key>
				<string></string>
				<key>borderWidth</key>
				<string></string>
				<key>borderColor</key>
				<string></string>
				<key>alpha</key>
				<string>0.7</string>
				<key>tag</key>
				<string>1111</string>
			</dict>
			<dict>
				<key>size</key>
				<string>{290,40}</string>
				<key>size_Iphone5</key>
				<string>{290,40}</string>
				<key>size_Iphone4</key>
				<string>{290,40}</string>
				<key>size_Iphone6</key>
				<string>{290,40}</string>
				<key>position</key>
				<string>{0,0}</string>
				<key>position_Iphone5</key>
				<string>{0,0}</string>
				<key>position_Iphone4</key>
				<string>{0,0}</string>
				<key>position_Iphone6</key>
				<string>{0,0}</string>
				<key>backgroundColor</key>
				<string>#ff9933</string>
				<key>cornerRadius</key>
				<string></string>
				<key>borderWidth</key>
				<string></string>
				<key>borderColor</key>
				<string></string>
				<key>tag</key>
				<string>1112</string>
			</dict>
		</array>
	</array>
	<key>ColorButtons</key>
	<array>
		<array>
			<dict>
				<key>title</key>
				<string>提交</string>
				<key>method</key>
				<string>confirmBookingClicked:</string>
				<key>size</key>
				<string>{540,75}</string>
				<key>size_Iphone5</key>
				<string>{270,38.5}</string>
				<key>size_Iphone4</key>
				<string>{270,38.5}</string>
				<key>size_Iphone6</key>
				<string>{270,38.5}</string>
				<key>position</key>
				<string>{20,380}</string>
				<key>position_Iphone5</key>
				<string>{20,380}</string>
				<key>position_Iphone4</key>
				<string>{20,380}</string>
				<key>position_Iphone6</key>
				<string>{20,380}</string>
				<key>fontsize</key>
				<string>20</string>
				<key>fontsize_Iphone4</key>
				<string>20</string>
				<key>fontsize_Iphone5</key>
				<string>20</string>
				<key>fontsize_Iphone6</key>
				<string>20</string>
				<key>highlightcolor</key>
				<string>#b40000</string>
				<key>color</key>
				<string>#ff9933</string>
				<key>textcolor</key>
				<string>#ffffff</string>
				<key>texthighlightcolor</key>
				<string>#FFFFFF</string>
				<key>cornerradius</key>
				<string>5</string>
				<key>tag</key>
				<string>1311</string>
			</dict>
		</array>
	</array>
	<key>Buttons</key>
	<array>
		<array>
			<dict>
				<key>image</key>
				<string>关闭默认.png</string>
				<key>highlighted</key>
				<string>关闭按下.png</string>
				<key>method</key>
				<string>closeBtnClicked:</string>
				<key>position</key>
				<string>{510,0}</string>
				<key>position_Iphone5</key>
				<string>{510,0}</string>
				<key>position_Iphone4</key>
				<string>{510,0}</string>
				<key>tag</key>
				<string>1411</string>
			</dict>
		</array>
	</array>
	<key>UILabels</key>
	<array>
		<array>
			<dict>
				<key>backgroundColor</key>
				<string>#ff9933</string>
				<key>position</key>
				<string>{100,0}</string>
				<key>position_Iphone5</key>
				<string>{100,0}</string>
				<key>position_Iphone4</key>
				<string>{100,0}</string>
				<key>position_Iphone6</key>
				<string>{100,0}</string>
				<key>size</key>
				<string>{380,80}</string>
				<key>size_Iphone5</key>
				<string>{190,40}</string>
				<key>size_Iphone4</key>
				<string>{190,40}</string>
				<key>size_Iphone6</key>
				<string>{190,40}</string>
				<key>tag</key>
				<string>1511</string>
				<key>textColor</key>
				<string>#ffffff</string>
				<key>textAlignment</key>
				<string>2</string>
				<key>fontsize</key>
				<string>30</string>
				<key>fontsize_Iphone5</key>
				<string>15</string>
				<key>fontsize_Iphone4</key>
				<string>15</string>
				<key>fontsize_Iphone6</key>
				<string>15</string>
				<key>boldFont</key>
				<string>1</string>
				<key>text</key>
				<string>意见反馈</string>
			</dict>
		</array>
	</array>
	<key>UITextViews</key>
	<array>
		<array>
			<dict>
				<key>textColor</key>
				<string>#262626</string>
				<key>backgroundColor</key>
				<string>#FFFFFF</string>
				<key>position</key>
				<string>{30,140}</string>
				<key>position_Iphone4</key>
				<string>{30,140}</string>
				<key>position_Iphone5</key>
				<string>{30,140}</string>
				<key>position_Iphone6</key>
				<string>{30,140}</string>
				<key>size</key>
				<string>{260,80}</string>
				<key>size_Iphone4</key>
				<string>{260,80}</string>
				<key>size_Iphone5</key>
				<string>{260,80}</string>
				<key>size_Iphone6</key>
				<string>{260,80}</string>
				<key>fontsize</key>
				<string>26</string>
				<key>fontsize_Iphone4</key>
				<string>20</string>
				<key>fontsize_Iphone5</key>
				<string>20</string>
				<key>fontsize_Iphone6</key>
				<string>20</string>
				<key>borderStyle</key>
				<string>3</string>
				<key>placeholder</key>
				<string>请输入您的意见</string>
				<key>textEntry</key>
				<string>0</string>
				<key>apitalizationType</key>
				<string>0</string>
				<key>tag</key>
				<string>1611</string>
				<key>hidden</key>
				<string></string>
			</dict>
		</array>
	</array>
	<key>KeyValueDatas</key>
	<array>
		<dict>
			<key>key</key>
			<string>UIViews</string>
			<key>index</key>
			<string>0</string>
		</dict>
		<dict>
			<key>key</key>
			<string>ColorButtons</string>
			<key>index</key>
			<string>0</string>
		</dict>
		<dict>
			<key>key</key>
			<string>Buttons</string>
			<key>index</key>
			<string>0</string>
		</dict>
		<dict>
			<key>key</key>
			<string>ColorButtons</string>
			<key>index</key>
			<string>0</string>
		</dict>
		<dict>
			<key>key</key>
			<string>UILabels</string>
			<key>index</key>
			<string>0</string>
		</dict>
		<dict>
			<key>key</key>
			<string>UITextViews</string>
			<key>index</key>
			<string>0</string>
		</dict>
	</array>
</dict>
</plist>
