<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIViews</key>
	<array>
		<array>
			<dict>
				<key>size</key>
				<string>{290,192.5}</string>
				<key>size_Iphone5</key>
				<string>{290,192.5}</string>
				<key>size_Iphone4</key>
				<string>{290,192.5}</string>
				<key>size_Iphone6</key>
				<string>{290,192.5}</string>
				<key>position</key>
				<string>{0,0}</string>
				<key>position_Iphone5</key>
				<string>{0,0}</string>
				<key>position_Iphone4</key>
				<string>{0,0}</string>
				<key>position_Iphone6</key>
				<string>{0,0}</string>
				<key>backgroundColor</key>
				<string>#FFFFFF</string>
				<key>cornerRadius</key>
				<string></string>
				<key>borderWidth</key>
				<string></string>
				<key>borderColor</key>
				<string></string>
				<key>tag</key>
				<string>1111</string>
			</dict>
			<dict>
				<key>size</key>
				<string>{580,76}</string>
				<key>size_Iphone5</key>
				<string>{290,38}</string>
				<key>size_Iphone4</key>
				<string>{290,38}</string>
				<key>size_Iphone6</key>
				<string>{290,38}</string>
				<key>position</key>
				<string>{0,0}</string>
				<key>position_Iphone5</key>
				<string>{0,0}</string>
				<key>position_Iphone4</key>
				<string>{0,0}</string>
				<key>position_Iphone6</key>
				<string>{0,0}</string>
				<key>backgroundColor</key>
				<string>#ff9933</string>
				<key>cornerRadius</key>
				<string></string>
				<key>borderWidth</key>
				<string></string>
				<key>borderColor</key>
				<string></string>
				<key>tag</key>
				<string>1112</string>
			</dict>
		</array>
	</array>
	<key>UIImageViews</key>
	<array>
		<array>
			<dict>
				<key>position</key>
				<string>{0,112}</string>
				<key>position_Iphone5</key>
				<string>{0,112}</string>
				<key>position_Iphone4</key>
				<string>{0,112}</string>
				<key>image</key>
				<string>帐篷.png</string>
				<key>tag</key>
				<string>1211</string>
			</dict>
		</array>
	</array>
	<key>ColorButtons</key>
	<array>
		<array>
			<dict>
				<key>title</key>
				<string>确认</string>
				<key>method</key>
				<string>confirmBtnClicked:</string>
				<key>size</key>
				<string>{500,65}</string>
				<key>size_Iphone5</key>
				<string>{250,32.5}</string>
				<key>size_Iphone4</key>
				<string>{250,32.5}</string>
				<key>size_Iphone6</key>
				<string>{250,32.5}</string>
				<key>position</key>
				<string>{47,300}</string>
				<key>position_Iphone5</key>
				<string>{47,300}</string>
				<key>position_Iphone4</key>
				<string>{47,300}</string>
				<key>position_Iphone6</key>
				<string>{47,300}</string>
				<key>fontsize</key>
				<string>30</string>
				<key>fontsize_Iphone4</key>
				<string>15</string>
				<key>fontsize_Iphone5</key>
				<string>15</string>
				<key>fontsize_Iphone6</key>
				<string>15</string>
				<key>highlightcolor</key>
				<string>#b40000</string>
				<key>color</key>
				<string>#ff9933</string>
				<key>textcolor</key>
				<string>#ffffff</string>
				<key>texthighlightcolor</key>
				<string>#FFFFFF</string>
				<key>cornerradius</key>
				<string>5</string>
				<key>tag</key>
				<string>1311</string>
			</dict>
		</array>
	</array>
	<key>Buttons</key>
	<array>
		<array>
			<dict>
				<key>image</key>
				<string>关闭默认.png</string>
				<key>highlighted</key>
				<string>关闭按下.png</string>
				<key>method</key>
				<string>closeBtnClicked:</string>
				<key>position</key>
				<string>{500,0}</string>
				<key>position_Iphone5</key>
				<string>{500,0}</string>
				<key>position_Iphone4</key>
				<string>{500,0}</string>
				<key>position_Iphone6</key>
				<string>{500,0}</string>
				<key>tag</key>
				<string>1411</string>
			</dict>
		</array>
	</array>
	<key>UILabels</key>
	<array>
		<array>
			<dict>
				<key>backgroundColor</key>
				<string>#ffffff</string>
				<key>position</key>
				<string>{185,96}</string>
				<key>position_Iphone5</key>
				<string>{185,96}</string>
				<key>position_Iphone4</key>
				<string>{185,96}</string>
				<key>position_Iphone6</key>
				<string>{185,96}</string>
				<key>size</key>
				<string>{380,46}</string>
				<key>size_Iphone5</key>
				<string>{190,23}</string>
				<key>size_Iphone4</key>
				<string>{190,23}</string>
				<key>size_Iphone6</key>
				<string>{190,23}</string>
				<key>tag</key>
				<string>1511</string>
				<key>textColor</key>
				<string>#000000</string>
				<key>textAlignment</key>
				<string>0</string>
				<key>fontsize</key>
				<string>30</string>
				<key>fontsize_Iphone5</key>
				<string>15</string>
				<key>fontsize_Iphone4</key>
				<string>15</string>
				<key>fontsize_Iphone6</key>
				<string>15</string>
				<key>boldFont</key>
				<string>0</string>
				<key>text</key>
				<string>嗨！我们都准备好了</string>
			</dict>
			<dict>
				<key>backgroundColor</key>
				<string>#ffffff</string>
				<key>position</key>
				<string>{185,142}</string>
				<key>position_Iphone5</key>
				<string>{185,142}</string>
				<key>position_Iphone4</key>
				<string>{185,142}</string>
				<key>position_Iphone6</key>
				<string>{185,142}</string>
				<key>size</key>
				<string>{380,46}</string>
				<key>size_Iphone5</key>
				<string>{190,23}</string>
				<key>size_Iphone4</key>
				<string>{190,23}</string>
				<key>size_Iphone6</key>
				<string>{190,23}</string>
				<key>tag</key>
				<string>1512</string>
				<key>textColor</key>
				<string>#000000</string>
				<key>textAlignment</key>
				<string>0</string>
				<key>fontsize</key>
				<string>30</string>
				<key>fontsize_Iphone5</key>
				<string>15</string>
				<key>fontsize_Iphone4</key>
				<string>15</string>
				<key>fontsize_Iphone6</key>
				<string>15</string>
				<key>boldFont</key>
				<string>0</string>
				<key>text</key>
				<string>[抱龙峪纳凉、看瀑布二日游]</string>
			</dict>
			<dict>
				<key>backgroundColor</key>
				<string>#ffffff</string>
				<key>position</key>
				<string>{185,188}</string>
				<key>position_Iphone5</key>
				<string>{185,188}</string>
				<key>position_Iphone4</key>
				<string>{185,188}</string>
				<key>position_Iphone6</key>
				<string>{185,188}</string>
				<key>size</key>
				<string>{380,46}</string>
				<key>size_Iphone5</key>
				<string>{190,23}</string>
				<key>size_Iphone4</key>
				<string>{190,23}</string>
				<key>size_Iphone6</key>
				<string>{190,23}</string>
				<key>tag</key>
				<string>1513</string>
				<key>textColor</key>
				<string>#000000</string>
				<key>textAlignment</key>
				<string>0</string>
				<key>fontsize</key>
				<string>30</string>
				<key>fontsize_Iphone5</key>
				<string>15</string>
				<key>fontsize_Iphone4</key>
				<string>15</string>
				<key>fontsize_Iphone6</key>
				<string>15</string>
				<key>boldFont</key>
				<string>0</string>
				<key>text</key>
				<string>记得不要迟到哦～</string>
			</dict>
			<dict>
				<key>backgroundColor</key>
				<string>#ffffff</string>
				<key>position</key>
				<string>{185,234}</string>
				<key>position_Iphone5</key>
				<string>{185,234}</string>
				<key>position_Iphone4</key>
				<string>{185,234}</string>
				<key>position_Iphone6</key>
				<string>{185,234}</string>
				<key>size</key>
				<string>{380,46}</string>
				<key>size_Iphone5</key>
				<string>{190,23}</string>
				<key>size_Iphone4</key>
				<string>{190,23}</string>
				<key>size_Iphone6</key>
				<string>{190,23}</string>
				<key>tag</key>
				<string>1514</string>
				<key>textColor</key>
				<string>#000000</string>
				<key>textAlignment</key>
				<string>0</string>
				<key>fontsize</key>
				<string>30</string>
				<key>fontsize_Iphone5</key>
				<string>15</string>
				<key>fontsize_Iphone4</key>
				<string>15</string>
				<key>fontsize_Iphone6</key>
				<string>15</string>
				<key>boldFont</key>
				<string>0</string>
				<key>text</key>
				<string>2383289348</string>
			</dict>
		</array>
	</array>
	<key>KeyValueDatas</key>
	<array>
		<dict>
			<key>key</key>
			<string>UIViews</string>
			<key>index</key>
			<string>0</string>
		</dict>
		<dict>
			<key>key</key>
			<string>Buttons</string>
			<key>index</key>
			<string>0</string>
		</dict>
		<dict>
			<key>key</key>
			<string>ColorButtons</string>
			<key>index</key>
			<string>0</string>
		</dict>
		<dict>
			<key>key</key>
			<string>UIImageViews</string>
			<key>index</key>
			<string>0</string>
		</dict>
		<dict>
			<key>key</key>
			<string>UILabels</string>
			<key>index</key>
			<string>0</string>
		</dict>
	</array>
</dict>
</plist>
