<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIViews</key>
	<array>
		<array>
			<dict>
				<key>size</key>
				<string>{580,705}</string>
				<key>size_Iphone5</key>
				<string>{290,352.5}</string>
				<key>size_Iphone4</key>
				<string>{290,352.5}</string>
				<key>size_Iphone6</key>
				<string>{290,352.5}</string>
				<key>position</key>
				<string>{0,0}</string>
				<key>position_Iphone5</key>
				<string>{0,0}</string>
				<key>position_Iphone4</key>
				<string>{0,0}</string>
				<key>position_Iphone6</key>
				<string>{0,0}</string>
				<key>backgroundColor</key>
				<string>#CDC9C9</string>
				<key>cornerRadius</key>
				<string></string>
				<key>borderWidth</key>
				<string></string>
				<key>borderColor</key>
				<string></string>
				<key>alpha</key>
				<string>0.7</string>
				<key>tag</key>
				<string>1111</string>
			</dict>
			<dict>
				<key>size</key>
				<string>{580,80}</string>
				<key>size_Iphone5</key>
				<string>{290,40}</string>
				<key>size_Iphone4</key>
				<string>{290,40}</string>
				<key>size_Iphone6</key>
				<string>{290,40}</string>
				<key>position</key>
				<string>{0,0}</string>
				<key>position_Iphone5</key>
				<string>{0,0}</string>
				<key>position_Iphone4</key>
				<string>{0,0}</string>
				<key>position_Iphone6</key>
				<string>{0,0}</string>
				<key>backgroundColor</key>
				<string>#ff9933</string>
				<key>cornerRadius</key>
				<string></string>
				<key>borderWidth</key>
				<string></string>
				<key>borderColor</key>
				<string></string>
				<key>tag</key>
				<string>1112</string>
			</dict>
			<dict>
				<key>size</key>
				<string>{540,160}</string>
				<key>size_Iphone5</key>
				<string>{270,80}</string>
				<key>size_Iphone4</key>
				<string>{270,80}</string>
				<key>size_Iphone6</key>
				<string>{270,80}</string>
				<key>position</key>
				<string>{20,400}</string>
				<key>position_Iphone5</key>
				<string>{20,400}</string>
				<key>position_Iphone4</key>
				<string>{20,400}</string>
				<key>position_Iphone6</key>
				<string>{20,400}</string>
				<key>backgroundColor</key>
				<string>#ffffff</string>
				<key>cornerRadius</key>
				<string>10</string>
				<key>borderWidth</key>
				<string>1</string>
				<key>borderColor</key>
				<string>#e5e5e5</string>
				<key>tag</key>
				<string>1113</string>
			</dict>
			<dict>
				<key>size</key>
				<string>{540,1}</string>
				<key>size_Iphone5</key>
				<string>{270,0.5}</string>
				<key>size_Iphone4</key>
				<string>{270,0.5}</string>
				<key>size_Iphone6</key>
				<string>{270,0.5}</string>
				<key>position</key>
				<string>{20,480}</string>
				<key>position_Iphone5</key>
				<string>{20,480}</string>
				<key>position_Iphone4</key>
				<string>{20,480}</string>
				<key>position_Iphone6</key>
				<string>{20,480}</string>
				<key>backgroundColor</key>
				<string>#ececec</string>
				<key>cornerRadius</key>
				<string></string>
				<key>borderWidth</key>
				<string></string>
				<key>borderColor</key>
				<string></string>
				<key>tag</key>
				<string>1114</string>
			</dict>
		</array>
	</array>
	<key>DownloadUIImageViews</key>
	<array>
		<array>
			<dict>
				<key>position</key>
				<string>{20,100}</string>
				<key>position_Iphone5</key>
				<string>{20,100}</string>
				<key>position_Iphone4</key>
				<string>{20,100}</string>
				<key>image</key>
				<string>订单确认弹出框默认图片.png</string>
				<key>tag</key>
				<string>1211</string>
			</dict>
		</array>
	</array>
	<key>ColorButtons</key>
	<array>
		<array>
			<dict>
				<key>title</key>
				<string>确认预订</string>
				<key>method</key>
				<string>confirmBookingClicked:</string>
				<key>size</key>
				<string>{540,75}</string>
				<key>size_Iphone5</key>
				<string>{270,38.5}</string>
				<key>size_Iphone4</key>
				<string>{270,38.5}</string>
				<key>size_Iphone6</key>
				<string>{270,38.5}</string>
				<key>position</key>
				<string>{20,580}</string>
				<key>position_Iphone5</key>
				<string>{20,580}</string>
				<key>position_Iphone4</key>
				<string>{20,580}</string>
				<key>position_Iphone6</key>
				<string>{20,580}</string>
				<key>fontsize</key>
				<string>30</string>
				<key>fontsize_Iphone4</key>
				<string>15</string>
				<key>fontsize_Iphone5</key>
				<string>15</string>
				<key>fontsize_Iphone6</key>
				<string>15</string>
				<key>highlightcolor</key>
				<string>#b40000</string>
				<key>color</key>
				<string>#ff9933</string>
				<key>textcolor</key>
				<string>#ffffff</string>
				<key>texthighlightcolor</key>
				<string>#FFFFFF</string>
				<key>cornerradius</key>
				<string>5</string>
				<key>tag</key>
				<string>1311</string>
			</dict>
		</array>
	</array>
	<key>Buttons</key>
	<array>
		<array>
			<dict>
				<key>image</key>
				<string>关闭默认.png</string>
				<key>highlighted</key>
				<string>关闭按下.png</string>
				<key>method</key>
				<string>closeBtnClicked:</string>
				<key>position</key>
				<string>{510,0}</string>
				<key>position_Iphone5</key>
				<string>{510,0}</string>
				<key>position_Iphone4</key>
				<string>{510,0}</string>
				<key>tag</key>
				<string>1411</string>
			</dict>
			<dict>
				<key>image</key>
				<string>设置.png</string>
				<key>highlighted</key>
				<string>设置.png</string>
				<key>method</key>
				<string>btnClicked:</string>
				<key>position</key>
				<string>{460,400}</string>
				<key>position_Iphone5</key>
				<string>{460,400}</string>
				<key>position_Iphone4</key>
				<string>{460,400}</string>
				<key>tag</key>
				<string>1412</string>
			</dict>
			<dict>
				<key>image</key>
				<string>减少.png</string>
				<key>highlighted</key>
				<string>减少.png</string>
				<key>method</key>
				<string>btnClicked:</string>
				<key>position</key>
				<string>{340,480}</string>
				<key>position_Iphone5</key>
				<string>{340,480}</string>
				<key>position_Iphone4</key>
				<string>{340,480}</string>
				<key>tag</key>
				<string>1413</string>
			</dict>
			<dict>
				<key>image</key>
				<string>增加.png</string>
				<key>highlighted</key>
				<string>增加.png</string>
				<key>method</key>
				<string>btnClicked:</string>
				<key>position</key>
				<string>{460,480}</string>
				<key>position_Iphone5</key>
				<string>{460,480}</string>
				<key>position_Iphone4</key>
				<string>{460,480}</string>
				<key>tag</key>
				<string>1414</string>
			</dict>
		</array>
	</array>
	<key>UILabels</key>
	<array>
		<array>
			<dict>
				<key>backgroundColor</key>
				<string>#ff9933</string>
				<key>position</key>
				<string>{100,0}</string>
				<key>position_Iphone5</key>
				<string>{100,0}</string>
				<key>position_Iphone4</key>
				<string>{100,0}</string>
				<key>position_Iphone6</key>
				<string>{100,0}</string>
				<key>size</key>
				<string>{380,80}</string>
				<key>size_Iphone5</key>
				<string>{190,40}</string>
				<key>size_Iphone4</key>
				<string>{190,40}</string>
				<key>size_Iphone6</key>
				<string>{190,40}</string>
				<key>tag</key>
				<string>1511</string>
				<key>textColor</key>
				<string>#ffffff</string>
				<key>textAlignment</key>
				<string>2</string>
				<key>fontsize</key>
				<string>30</string>
				<key>fontsize_Iphone5</key>
				<string>15</string>
				<key>fontsize_Iphone4</key>
				<string>15</string>
				<key>fontsize_Iphone6</key>
				<string>15</string>
				<key>boldFont</key>
				<string>1</string>
				<key>text</key>
				<string>确认订单</string>
			</dict>
			<dict>
				<key>position</key>
				<string>{20,300}</string>
				<key>position_Iphone5</key>
				<string>{20,300}</string>
				<key>position_Iphone4</key>
				<string>{20,300}</string>
				<key>position_Iphone6</key>
				<string>{20,300}</string>
				<key>size</key>
				<string>{540,50}</string>
				<key>size_Iphone5</key>
				<string>{270,25}</string>
				<key>size_Iphone4</key>
				<string>{270,25}</string>
				<key>size_Iphone6</key>
				<string>{270,25}</string>
				<key>tag</key>
				<string>1512</string>
				<key>textColor</key>
				<string>#ffffff</string>
				<key>textAlignment</key>
				<string>2</string>
				<key>fontsize</key>
				<string>30</string>
				<key>fontsize_Iphone5</key>
				<string>15</string>
				<key>fontsize_Iphone4</key>
				<string>15</string>
				<key>fontsize_Iphone6</key>
				<string>15</string>
				<key>boldFont</key>
				<string>1</string>
				<key>text</key>
				<string>宝龙与纳凉、看瀑布二日游</string>
			</dict>
			<dict>
				<key>position</key>
				<string>{40,400}</string>
				<key>position_Iphone5</key>
				<string>{40,400}</string>
				<key>position_Iphone4</key>
				<string>{40,400}</string>
				<key>position_Iphone6</key>
				<string>{40,400}</string>
				<key>size</key>
				<string>{160,80}</string>
				<key>size_Iphone5</key>
				<string>{80,40}</string>
				<key>size_Iphone4</key>
				<string>{80,40}</string>
				<key>size_Iphone6</key>
				<string>{80,40}</string>
				<key>tag</key>
				<string>1513</string>
				<key>textColor</key>
				<string>#000000</string>
				<key>textAlignment</key>
				<string>1</string>
				<key>fontsize</key>
				<string>26</string>
				<key>fontsize_Iphone5</key>
				<string>13</string>
				<key>fontsize_Iphone4</key>
				<string>13</string>
				<key>fontsize_Iphone6</key>
				<string>13</string>
				<key>boldFont</key>
				<string>1</string>
				<key>text</key>
				<string>预订手机号：</string>
			</dict>
			<dict>
				<key>position</key>
				<string>{40,480}</string>
				<key>position_Iphone5</key>
				<string>{40,480}</string>
				<key>position_Iphone4</key>
				<string>{40,480}</string>
				<key>position_Iphone6</key>
				<string>{40,480}</string>
				<key>size</key>
				<string>{160,80}</string>
				<key>size_Iphone5</key>
				<string>{80,40}</string>
				<key>size_Iphone4</key>
				<string>{80,40}</string>
				<key>size_Iphone6</key>
				<string>{80,40}</string>
				<key>tag</key>
				<string>1514</string>
				<key>textColor</key>
				<string>#000000</string>
				<key>textAlignment</key>
				<string>1</string>
				<key>fontsize</key>
				<string>26</string>
				<key>fontsize_Iphone5</key>
				<string>13</string>
				<key>fontsize_Iphone4</key>
				<string>13</string>
				<key>fontsize_Iphone6</key>
				<string>13</string>
				<key>boldFont</key>
				<string>1</string>
				<key>text</key>
				<string>数量：</string>
			</dict>
			<dict>
				<key>position</key>
				<string>{410,480}</string>
				<key>position_Iphone5</key>
				<string>{410,480}</string>
				<key>position_Iphone4</key>
				<string>{410,480}</string>
				<key>position_Iphone6</key>
				<string>{410,480}</string>
				<key>size</key>
				<string>{60,80}</string>
				<key>size_Iphone5</key>
				<string>{30,40}</string>
				<key>size_Iphone4</key>
				<string>{30,40}</string>
				<key>size_Iphone6</key>
				<string>{30,40}</string>
				<key>tag</key>
				<string>1516</string>
				<key>textColor</key>
				<string>#000000</string>
				<key>textAlignment</key>
				<string>2</string>
				<key>fontsize</key>
				<string>26</string>
				<key>fontsize_Iphone5</key>
				<string>13</string>
				<key>fontsize_Iphone4</key>
				<string>13</string>
				<key>fontsize_Iphone6</key>
				<string>13</string>
				<key>boldFont</key>
				<string>0</string>
				<key>text</key>
				<string>1</string>
			</dict>
		</array>
	</array>
	<key>UITextFields</key>
	<array>
		<array>
			<dict>
				<key>position</key>
				<string>{200,400}</string>
				<key>position_Iphone4</key>
				<string>{200,400}</string>
				<key>position_Iphone5</key>
				<string>{200,400}</string>
				<key>position_Iphone6</key>
				<string>{200,400}</string>
				<key>size</key>
				<string>{260,80}</string>
				<key>size_Iphone4</key>
				<string>{130,40}</string>
				<key>size_Iphone5</key>
				<string>{130,40}</string>
				<key>size_Iphone6</key>
				<string>{130,40}</string>
				<key>fontsize</key>
				<string>26</string>
				<key>fontsize_Iphone4</key>
				<string>13</string>
				<key>fontsize_Iphone5</key>
				<string>13</string>
				<key>fontsize_Iphone6</key>
				<string>13</string>
				<key>borderStyle</key>
				<string>0</string>
				<key>placeholder</key>
				<string></string>
				<key>textEntry</key>
				<string>0</string>
				<key>apitalizationType</key>
				<string>0</string>
				<key>keyboardType</key>
				<string>4</string>
				<key>verticalAlignment</key>
				<string>0</string>
				<key>horizontalAlignment</key>
				<string>1</string>
				<key>tag</key>
				<string>1611</string>
				<key>hidden</key>
				<string></string>
			</dict>
		</array>
	</array>
	<key>KeyValueDatas</key>
	<array>
		<dict>
			<key>key</key>
			<string>UIViews</string>
			<key>index</key>
			<string>0</string>
		</dict>
		<dict>
			<key>key</key>
			<string>ColorButtons</string>
			<key>index</key>
			<string>0</string>
		</dict>
		<dict>
			<key>key</key>
			<string>Buttons</string>
			<key>index</key>
			<string>0</string>
		</dict>
		<dict>
			<key>key</key>
			<string>ColorButtons</string>
			<key>index</key>
			<string>0</string>
		</dict>
		<dict>
			<key>key</key>
			<string>DownloadUIImageViews</string>
			<key>index</key>
			<string>0</string>
		</dict>
		<dict>
			<key>key</key>
			<string>UILabels</string>
			<key>index</key>
			<string>0</string>
		</dict>
		<dict>
			<key>key</key>
			<string>UITextFields</string>
			<key>index</key>
			<string>0</string>
		</dict>
	</array>
</dict>
</plist>
