<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TextField</key>
	<array>
		<array>
			<dict>
				<key>position</key>
				<string>{0,200}</string>
				<key>position_Iphone4</key>
				<string>{0,200}</string>
				<key>position_Iphone5</key>
				<string>{0,200}</string>
				<key>position_Iphone6</key>
				<string>{0,200}</string>
				<key>size</key>
				<string>{320,30}</string>
				<key>size_Iphone4</key>
				<string>{320,30}</string>
				<key>size_Iphone5</key>
				<string>{320,30}</string>
				<key>size_Iphone6</key>
				<string>{320,30}</string>
				<key>placeholder</key>
				<string>请输入昵称</string>
				<key>textEntry</key>
				<string>0</string>
				<key>apitalizationType</key>
				<string>0</string>
				<key>keyboardType</key>
				<string>0</string>
				<key>verticalAlignment</key>
				<string>0</string>
				<key>horizontalAlignment</key>
				<string>0</string>
				<key>tag</key>
				<string>90611</string>
				<key>hidden</key>
				<string></string>
				<key>returnKeyType</key>
				<string>7</string>
			</dict>
		</array>
	</array>
	<key>UILabel</key>
	<array>
		<array>
			<dict>
				<key>backgroundColor</key>
				<string>#FFFFFF</string>
				<key>position</key>
				<string>{0,0}</string>
				<key>position_Iphone5</key>
				<string>{0,0}</string>
				<key>position_Iphone4</key>
				<string>{0,0}</string>
				<key>size</key>
				<string>{320,45}</string>
				<key>size_Iphone5</key>
				<string>{320,45}</string>
				<key>size_Iphone4</key>
				<string>{320,45}</string>
				<key>tag</key>
				<string>0</string>
				<key>textColor</key>
				<string>#000000</string>
				<key>textAlignment</key>
				<string>2</string>
				<key>fontsize</key>
				<string>26</string>
				<key>fontsize_Iphone5</key>
				<string>26</string>
				<key>fontsize_Iphone4</key>
				<string>26</string>
				<key>text</key>
				<string>个人中心</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>position</key>
				<string>{0,160}</string>
				<key>position_Iphone5</key>
				<string>{0,160}</string>
				<key>position_Iphone4</key>
				<string>{0,160}</string>
				<key>size</key>
				<string>{320,60}</string>
				<key>size_Iphone5</key>
				<string>{320,60}</string>
				<key>size_Iphone4</key>
				<string>{320,60}</string>
				<key>fontsize_Iphone4</key>
				<string>20</string>
				<key>fontsize_Iphone5</key>
				<string>20</string>
				<key>fontsize</key>
				<string>20</string>
				<key>tag</key>
				<string>90612</string>
				<key>textColor</key>
				<string>#FFFFFF</string>
				<key>textAlignment</key>
				<string>2</string>
				<key>fontName</key>
				<string>TrebuchetMS-Bold</string>
				<key>text</key>
				<string>欢迎来到浪游</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>position</key>
				<string>{160,256}</string>
				<key>position_Iphone5</key>
				<string>{160,256}</string>
				<key>position_Iphone4</key>
				<string>{160,256}</string>
				<key>size</key>
				<string>{320,64}</string>
				<key>size_Iphone5</key>
				<string>{320,64}</string>
				<key>size_Iphone4</key>
				<string>{320,64}</string>
				<key>fontsize_Iphone4</key>
				<string>15</string>
				<key>fontsize_Iphone5</key>
				<string>15</string>
				<key>fontsize</key>
				<string>15</string>
				<key>tag</key>
				<string>0</string>
				<key>textAlignment</key>
				<string>0</string>
				<key>fontName</key>
				<string>JZunYuan</string>
				<key>text</key>
				<string>仅Wifi下载 </string>
			</dict>
		</array>
	</array>
	<key>ColorButtons</key>
	<array>
		<array>
			<dict>
				<key>title</key>
				<string>马上登陆</string>
				<key>method</key>
				<string>loginClicked:</string>
				<key>size</key>
				<string>{200,32}</string>
				<key>size_Iphone5</key>
				<string>{200,32}</string>
				<key>size_Iphone4</key>
				<string>{200,32}</string>
				<key>position</key>
				<string>{120,282}</string>
				<key>position_Iphone5</key>
				<string>{120,282}</string>
				<key>position_Iphone4</key>
				<string>{120,282}</string>
				<key>fontsize_Iphone5</key>
				<string>15</string>
				<key>fontsize_Iphone4</key>
				<string>15</string>
				<key>highlightcolor</key>
				<string>#FF9966</string>
				<key>color</key>
				<string>#FF9900</string>
				<key>textcolor</key>
				<string>#FFFFFF</string>
				<key>cornerradius</key>
				<string>5</string>
				<key>tag</key>
				<string>99801</string>
			</dict>
			<dict>
				<key>title</key>
				<string>退出登陆</string>
				<key>method</key>
				<string>logoutClicked:</string>
				<key>size</key>
				<string>{250,32}</string>
				<key>size_Iphone5</key>
				<string>{250,32}</string>
				<key>size_Iphone4</key>
				<string>{250,32}</string>
				<key>position</key>
				<string>{70,282}</string>
				<key>position_Iphone5</key>
				<string>{70,282}</string>
				<key>position_Iphone4</key>
				<string>{70,282}</string>
				<key>fontsize_Iphone5</key>
				<string>15</string>
				<key>fontsize_Iphone4</key>
				<string>15</string>
				<key>highlightcolor</key>
				<string>#FF9966</string>
				<key>color</key>
				<string>#FF9900</string>
				<key>textcolor</key>
				<string>#FFFFFF</string>
				<key>cornerradius</key>
				<string>5</string>
				<key>hidden</key>
				<string>1</string>
				<key>tag</key>
				<string>99802</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>title</key>
				<string>我的收藏                   </string>
				<key>method</key>
				<string>btnClicked:</string>
				<key>size</key>
				<string>{320,64}</string>
				<key>size_Iphone5</key>
				<string>{320,64}</string>
				<key>size_Iphone4</key>
				<string>{320,64}</string>
				<key>position</key>
				<string>{0,0}</string>
				<key>position_Iphone5</key>
				<string>{0,0}</string>
				<key>position_Iphone4</key>
				<string>{0,0}</string>
				<key>highlightcolor</key>
				<string>#CCCCCC</string>
				<key>fontsize_Iphone5</key>
				<string>15</string>
				<key>fontsize_Iphone4</key>
				<string>15</string>
				<key>fontName</key>
				<string>JZunYuan</string>
				<key>color</key>
				<string>#FFFFFF</string>
				<key>textcolor</key>
				<string>#000000</string>
				<key>cornerradius</key>
				<string>0</string>
				<key>tag</key>
				<string>1</string>
			</dict>
			<dict>
				<key>title</key>
				<string>密码找回                  </string>
				<key>fontName</key>
				<string>JZunYuan</string>
				<key>fontsize_Iphone5</key>
				<string>15</string>
				<key>fontsize_Iphone4</key>
				<string>15</string>
				<key>method</key>
				<string>btnClicked:</string>
				<key>size</key>
				<string>{320,64}</string>
				<key>size_Iphone5</key>
				<string>{320,64}</string>
				<key>size_Iphone4</key>
				<string>{320,64}</string>
				<key>position</key>
				<string>{0,128}</string>
				<key>position_Iphone5</key>
				<string>{0,128}</string>
				<key>position_Iphone4</key>
				<string>{0,128}</string>
				<key>highlightcolor</key>
				<string>#CCCCCC</string>
				<key>color</key>
				<string>#FFFFFF</string>
				<key>textcolor</key>
				<string>#000000</string>
				<key>cornerradius</key>
				<string>0</string>
				<key>tag</key>
				<string>99001</string>
			</dict>
			<dict>
				<key>title</key>
				<string>密码重置                  </string>
				<key>fontName</key>
				<string>JZunYuan</string>
				<key>fontsize_Iphone5</key>
				<string>15</string>
				<key>fontsize_Iphone4</key>
				<string>15</string>
				<key>method</key>
				<string>btnClicked:</string>
				<key>size</key>
				<string>{320,64}</string>
				<key>size_Iphone5</key>
				<string>{320,64}</string>
				<key>size_Iphone4</key>
				<string>{320,64}</string>
				<key>position</key>
				<string>{0,128}</string>
				<key>position_Iphone5</key>
				<string>{0,128}</string>
				<key>position_Iphone4</key>
				<string>{0,128}</string>
				<key>highlightcolor</key>
				<string>#CCCCCC</string>
				<key>color</key>
				<string>#FFFFFF</string>
				<key>textcolor</key>
				<string>#000000</string>
				<key>cornerradius</key>
				<string>0</string>
				<key>tag</key>
				<string>99002</string>
			</dict>
			<dict>
				<key>title</key>
				<string>清除缓存                  </string>
				<key>fontsize_Iphone4</key>
				<string>15</string>
				<key>fontsize_Iphone5</key>
				<string>15</string>
				<key>fontName</key>
				<string>JZunYuan</string>
				<key>method</key>
				<string>btnClicked:</string>
				<key>size</key>
				<string>{320,64}</string>
				<key>size_Iphone5</key>
				<string>{320,64}</string>
				<key>size_Iphone4</key>
				<string>{320,64}</string>
				<key>position</key>
				<string>{0,384}</string>
				<key>position_Iphone5</key>
				<string>{0,384}</string>
				<key>position_Iphone4</key>
				<string>{0,384}</string>
				<key>highlightcolor</key>
				<string>#CCCCCC</string>
				<key>color</key>
				<string>#FFFFFF</string>
				<key>textcolor</key>
				<string>#000000</string>
				<key>cornerradius</key>
				<string>0</string>
				<key>tag</key>
				<string>4</string>
			</dict>
			<dict>
				<key>title</key>
				<string>意见反馈                  </string>
				<key>fontsize_Iphone4</key>
				<string>15</string>
				<key>fontsize_Iphone5</key>
				<string>15</string>
				<key>fontName</key>
				<string>JZunYuan</string>
				<key>method</key>
				<string>btnClicked:</string>
				<key>size</key>
				<string>{320,64}</string>
				<key>size_Iphone5</key>
				<string>{320,64}</string>
				<key>size_Iphone4</key>
				<string>{320,64}</string>
				<key>position</key>
				<string>{0,512}</string>
				<key>position_Iphone5</key>
				<string>{0,512}</string>
				<key>position_Iphone4</key>
				<string>{0,512}</string>
				<key>highlightcolor</key>
				<string>#CCCCCC</string>
				<key>color</key>
				<string>#FFFFFF</string>
				<key>textcolor</key>
				<string>#000000</string>
				<key>cornerradius</key>
				<string>0</string>
				<key>tag</key>
				<string>5</string>
			</dict>
		</array>
	</array>
	<key>UImageViews</key>
	<array>
		<array>
			<dict>
				<key>position</key>
				<string>{60,37}</string>
				<key>position_Iphone5</key>
				<string>{60,37}</string>
				<key>position_Iphone4</key>
				<string>{60,37}</string>
				<key>image</key>
				<string>wodeshouc.png</string>
			</dict>
			<dict>
				<key>position</key>
				<string>{566,30}</string>
				<key>position_Iphone5</key>
				<string>{566,30}</string>
				<key>position_Iphone4</key>
				<string>{566,30}</string>
				<key>image</key>
				<string>进入默认.png</string>
			</dict>
			<dict>
				<key>position</key>
				<string>{60,172}</string>
				<key>position_Iphone5</key>
				<string>{60,172}</string>
				<key>position_Iphone4</key>
				<string>{60,172}</string>
				<key>image</key>
				<string>zhaohuimima.png</string>
			</dict>
			<dict>
				<key>position</key>
				<string>{566,158}</string>
				<key>position_Iphone5</key>
				<string>{566,158}</string>
				<key>position_Iphone4</key>
				<string>{566,158}</string>
				<key>image</key>
				<string>进入默认.png</string>
			</dict>
			<dict>
				<key>position</key>
				<string>{60,300}</string>
				<key>position_Iphone5</key>
				<string>{60,300}</string>
				<key>position_Iphone4</key>
				<string>{60,300}</string>
				<key>image</key>
				<string>wifi.png</string>
			</dict>
			<dict>
				<key>position</key>
				<string>{60,428}</string>
				<key>position_Iphone5</key>
				<string>{60,428}</string>
				<key>position_Iphone4</key>
				<string>{60,428}</string>
				<key>image</key>
				<string>qingchuhuanc.png</string>
			</dict>
			<dict>
				<key>position</key>
				<string>{566,414}</string>
				<key>position_Iphone5</key>
				<string>{566,414}</string>
				<key>position_Iphone4</key>
				<string>{566,414}</string>
				<key>image</key>
				<string>进入默认.png</string>
			</dict>
			<dict>
				<key>position</key>
				<string>{60,563}</string>
				<key>position_Iphone5</key>
				<string>{60,563}</string>
				<key>position_Iphone4</key>
				<string>{60,563}</string>
				<key>image</key>
				<string>fankui.png</string>
			</dict>
			<dict>
				<key>position</key>
				<string>{566,539}</string>
				<key>position_Iphone5</key>
				<string>{566,539}</string>
				<key>position_Iphone4</key>
				<string>{566,539}</string>
				<key>image</key>
				<string>进入默认.png</string>
			</dict>
		</array>
	</array>
	<key>UIViews</key>
	<array>
		<array>
			<dict>
				<key>size</key>
				<string>{320,1}</string>
				<key>size_Iphone5</key>
				<string>{320,1}</string>
				<key>size_Iphone4</key>
				<string>{320,1}</string>
				<key>position</key>
				<string>{40,127}</string>
				<key>position_Iphone5</key>
				<string>{40,127}</string>
				<key>position_Iphone4</key>
				<string>{40,127}</string>
				<key>backgroundColor</key>
				<string>#CCCCCC</string>
			</dict>
			<dict>
				<key>size</key>
				<string>{320,1}</string>
				<key>size_Iphone5</key>
				<string>{320,1}</string>
				<key>size_Iphone4</key>
				<string>{320,1}</string>
				<key>position</key>
				<string>{40,127+128}</string>
				<key>position_Iphone5</key>
				<string>{40,127+128}</string>
				<key>position_Iphone4</key>
				<string>{40,127+128}</string>
				<key>backgroundColor</key>
				<string>#CCCCCC</string>
			</dict>
			<dict>
				<key>size</key>
				<string>{320,1}</string>
				<key>size_Iphone5</key>
				<string>{320,1}</string>
				<key>size_Iphone4</key>
				<string>{320,1}</string>
				<key>position</key>
				<string>{40,127+256}</string>
				<key>position_Iphone5</key>
				<string>{40,127+256}</string>
				<key>position_Iphone4</key>
				<string>{40,127+256}</string>
				<key>backgroundColor</key>
				<string>#CCCCCC</string>
			</dict>
			<dict>
				<key>size</key>
				<string>{320,1}</string>
				<key>size_Iphone5</key>
				<string>{320,1}</string>
				<key>size_Iphone4</key>
				<string>{320,1}</string>
				<key>position</key>
				<string>{40,127+384}</string>
				<key>position_Iphone5</key>
				<string>{40,127+384}</string>
				<key>position_Iphone4</key>
				<string>{40,127+384}</string>
				<key>backgroundColor</key>
				<string>#CCCCCC</string>
			</dict>
			<dict>
				<key>size</key>
				<string>{320,1}</string>
				<key>size_Iphone5</key>
				<string>{320,1}</string>
				<key>size_Iphone4</key>
				<string>{320,1}</string>
				<key>position</key>
				<string>{40,127+512}</string>
				<key>position_Iphone5</key>
				<string>{40,127+512}</string>
				<key>position_Iphone4</key>
				<string>{40,127+512}</string>
				<key>backgroundColor</key>
				<string>#CCCCCC</string>
			</dict>
		</array>
	</array>
	<key>SevenSwitch</key>
	<array>
		<array>
			<dict>
				<key>tag</key>
				<string>889801</string>
				<key>method</key>
				<string>SevenSwitchClicked:</string>
				<key>size</key>
				<string>{60,30}</string>
				<key>size_Iphone5</key>
				<string>{60,30}</string>
				<key>size_Iphone4</key>
				<string>{60,30}</string>
				<key>position</key>
				<string>{500,300}</string>
				<key>position_Iphone5</key>
				<string>{500,300}</string>
				<key>position_Iphone4</key>
				<string>{500,300}</string>
				<key>onColor</key>
				<string>#76EEC6</string>
				<key>inactiveColor</key>
				<string>#CDC9C9</string>
			</dict>
		</array>
	</array>
</dict>
</plist>
