<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BackTitleButtons</key>
	<array>
		<array>
			<dict>
				<key>image</key>
				<string>返回默认.png</string>
				<key>highlighted</key>
				<string>返回按下.png</string>
				<key>method</key>
				<string>backClicked:</string>
				<key>position</key>
				<string>{10,9}</string>
				<key>position_Iphone5</key>
				<string>{10,9}</string>
				<key>position_Iphone4</key>
				<string>{10,9}</string>
			</dict>
		</array>
	</array>
	<key>BackTitleBaseUIViews</key>
	<array>
		<array>
			<dict>
				<key>size</key>
				<string>{320,50}</string>
				<key>size_Iphone5</key>
				<string>{320,50}</string>
				<key>size_Iphone4</key>
				<string>{320,50}</string>
				<key>position</key>
				<string>{0,0}</string>
				<key>position_Iphone5</key>
				<string>{0,0}</string>
				<key>position_Iphone4</key>
				<string>{0,0}</string>
				<key>backgroundColor</key>
				<string>#FFFFFF</string>
				<key>tag</key>
				<string>511</string>
			</dict>
		</array>
	</array>
	<key>BackTitleUILabel</key>
	<array>
		<array>
			<dict>
				<key>backgroundColor</key>
				<string>#FFFFFF</string>
				<key>position</key>
				<string>{0,0}</string>
				<key>position_Iphone5</key>
				<string>{0,0}</string>
				<key>position_Iphone4</key>
				<string>{0,0}</string>
				<key>size</key>
				<string>{320,50}</string>
				<key>size_Iphone5</key>
				<string>{320,50}</string>
				<key>size_Iphone4</key>
				<string>{320,50}</string>
				<key>tag</key>
				<string>0</string>
				<key>textColor</key>
				<string>#000000</string>
				<key>textAlignment</key>
				<string>2</string>
				<key>fontsize</key>
				<string>15</string>
				<key>fontsize_Iphone5</key>
				<string>15</string>
				<key>fontsize_Iphone4</key>
				<string>15</string>
				<key>text</key>
				<string>集结点</string>
			</dict>
		</array>
	</array>
	<key>Buttons</key>
	<array>
		<array>
			<dict>
				<key>image</key>
				<string>定位按钮默认.png</string>
				<key>highlighted</key>
				<string>定位按钮按下.png</string>
				<key>method</key>
				<string>locationBtnClicked:</string>
				<key>position</key>
				<string>{20,948}</string>
				<key>position_Iphone5</key>
				<string>{20,948}</string>
				<key>position_Iphone4</key>
				<string>{20,748}</string>
				<key>position_Iphone6</key>
				<string>{20,948}</string>
				<key>tag</key>
				<string>111</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>image</key>
				<string>地图默认.png</string>
				<key>highlighted</key>
				<string>地图按下.png</string>
				<key>method</key>
				<string>btnClicked:</string>
				<key>position</key>
				<string>{47,60}</string>
				<key>position_Iphone5</key>
				<string>{47,60}</string>
				<key>position_Iphone4</key>
				<string>{47,60}</string>
				<key>position_Iphone6</key>
				<string>{47,60}</string>
				<key>tag</key>
				<string>121</string>
			</dict>
			<dict>
				<key>image</key>
				<string>箭头默认.png</string>
				<key>highlighted</key>
				<string>箭头按下.png</string>
				<key>method</key>
				<string>btnClicked:</string>
				<key>position</key>
				<string>{47,160}</string>
				<key>position_Iphone5</key>
				<string>{47,160}</string>
				<key>position_Iphone4</key>
				<string>{47,160}</string>
				<key>position_Iphone6</key>
				<string>{47,160}</string>
				<key>tag</key>
				<string>122</string>
			</dict>
			<dict>
				<key>image</key>
				<string>坐车默认.png</string>
				<key>highlighted</key>
				<string>坐车按下.png</string>
				<key>method</key>
				<string>byBus:</string>
				<key>position</key>
				<string>{72,365}</string>
				<key>position_Iphone5</key>
				<string>{72,365}</string>
				<key>position_Iphone4</key>
				<string>{72,365}</string>
				<key>position_Iphone6</key>
				<string>{72,365}</string>
				<key>tag</key>
				<string>123</string>
			</dict>
			<dict>
				<key>image</key>
				<string>走路默认.png</string>
				<key>highlighted</key>
				<string>走路按下.png</string>
				<key>method</key>
				<string>byFoot:</string>
				<key>position</key>
				<string>{372,365}</string>
				<key>position_Iphone5</key>
				<string>{372,365}</string>
				<key>position_Iphone4</key>
				<string>{372,365}</string>
				<key>position_Iphone6</key>
				<string>{372,365}</string>
				<key>tag</key>
				<string>124</string>
			</dict>
		</array>
	</array>
	<key>UILabel</key>
	<array>
		<array/>
		<array>
			<dict>
				<key>position</key>
				<string>{20,0}</string>
				<key>position_Iphone4</key>
				<string>{20,0}</string>
				<key>position_Iphone5</key>
				<string>{20,0}</string>
				<key>position_Iphone6</key>
				<string>{20,0}</string>
				<key>size</key>
				<string>{300,25}</string>
				<key>size_Iphone4</key>
				<string>{300,25}</string>
				<key>size_Iphone5</key>
				<string>{300,25}</string>
				<key>size_Iphone6</key>
				<string>{300,25}</string>
				<key>fontsize</key>
				<string>13</string>
				<key>fontsize_Iphone4</key>
				<string>13</string>
				<key>fontsize_Iphone5</key>
				<string>13</string>
				<key>textColor</key>
				<string>#270d04</string>
				<key>text</key>
				<string>输入地点仅限集结点所在城市</string>
				<key>textAlignment</key>
				<string>0</string>
				<key>lineBreakMode</key>
				<string></string>
				<key>numberOfLines</key>
				<string></string>
				<key>tag</key>
				<string>221</string>
				<key>hidden</key>
				<string></string>
			</dict>
			<dict>
				<key>position</key>
				<string>{130,50}</string>
				<key>position_Iphone4</key>
				<string>{130,50}</string>
				<key>position_Iphone5</key>
				<string>{130,50}</string>
				<key>position_Iphone6</key>
				<string>{130,50}</string>
				<key>size</key>
				<string>{50,50}</string>
				<key>size_Iphone4</key>
				<string>{50,50}</string>
				<key>size_Iphone5</key>
				<string>{50,50}</string>
				<key>size_Iphone6</key>
				<string>{50,50}</string>
				<key>fontsize</key>
				<string>13</string>
				<key>fontsize_Iphone4</key>
				<string>13</string>
				<key>fontsize_Iphone5</key>
				<string>13</string>
				<key>textColor</key>
				<string>#270d04</string>
				<key>text</key>
				<string>起始点:</string>
				<key>textAlignment</key>
				<string>2</string>
				<key>lineBreakMode</key>
				<string></string>
				<key>numberOfLines</key>
				<string></string>
				<key>tag</key>
				<string>222</string>
				<key>hidden</key>
				<string></string>
			</dict>
			<dict>
				<key>position</key>
				<string>{130,150}</string>
				<key>position_Iphone4</key>
				<string>{130,150}</string>
				<key>position_Iphone5</key>
				<string>{130,150}</string>
				<key>position_Iphone6</key>
				<string>{130,100}</string>
				<key>size</key>
				<string>{50,50}</string>
				<key>size_Iphone4</key>
				<string>{50,50}</string>
				<key>size_Iphone5</key>
				<string>{50,50}</string>
				<key>size_Iphone6</key>
				<string>{50,50}</string>
				<key>fontsize</key>
				<string>13</string>
				<key>fontsize_Iphone4</key>
				<string>13</string>
				<key>fontsize_Iphone5</key>
				<string>13</string>
				<key>textColor</key>
				<string>#270d04</string>
				<key>text</key>
				<string>集结点:</string>
				<key>textAlignment</key>
				<string>2</string>
				<key>lineBreakMode</key>
				<string></string>
				<key>numberOfLines</key>
				<string></string>
				<key>tag</key>
				<string>223</string>
				<key>hidden</key>
				<string></string>
			</dict>
			<dict>
				<key>position</key>
				<string>{20,270}</string>
				<key>position_Iphone4</key>
				<string>{20,270}</string>
				<key>position_Iphone5</key>
				<string>{20,270}</string>
				<key>position_Iphone6</key>
				<string>{20,270}</string>
				<key>size</key>
				<string>{70,35}</string>
				<key>size_Iphone4</key>
				<string>{70,35}</string>
				<key>size_Iphone5</key>
				<string>{70,35}</string>
				<key>size_Iphone6</key>
				<string>{70,35}</string>
				<key>fontsize</key>
				<string>13</string>
				<key>fontsize_Iphone4</key>
				<string>13</string>
				<key>fontsize_Iphone5</key>
				<string>13</string>
				<key>textColor</key>
				<string>#270d04</string>
				<key>text</key>
				<string>怎么去:</string>
				<key>textAlignment</key>
				<string>2</string>
				<key>lineBreakMode</key>
				<string></string>
				<key>numberOfLines</key>
				<string></string>
				<key>tag</key>
				<string>224</string>
				<key>hidden</key>
				<string></string>
			</dict>
			<dict>
				<key>position</key>
				<string>{120,360}</string>
				<key>position_Iphone4</key>
				<string>{120,360}</string>
				<key>position_Iphone5</key>
				<string>{120,360}</string>
				<key>position_Iphone6</key>
				<string>{120,360}</string>
				<key>size</key>
				<string>{50,45}</string>
				<key>size_Iphone4</key>
				<string>{50,45}</string>
				<key>size_Iphone5</key>
				<string>{50,45}</string>
				<key>size_Iphone6</key>
				<string>{50,45}</string>
				<key>fontsize</key>
				<string>13</string>
				<key>fontsize_Iphone4</key>
				<string>13</string>
				<key>fontsize_Iphone5</key>
				<string>13</string>
				<key>textColor</key>
				<string>#270d04</string>
				<key>text</key>
				<string>公交</string>
				<key>textAlignment</key>
				<string>2</string>
				<key>lineBreakMode</key>
				<string></string>
				<key>numberOfLines</key>
				<string></string>
				<key>tag</key>
				<string>225</string>
				<key>hidden</key>
				<string></string>
			</dict>
			<dict>
				<key>position</key>
				<string>{430,360}</string>
				<key>position_Iphone4</key>
				<string>{430,360}</string>
				<key>position_Iphone5</key>
				<string>{430,360}</string>
				<key>position_Iphone6</key>
				<string>{430,360}</string>
				<key>size</key>
				<string>{50,45}</string>
				<key>size_Iphone4</key>
				<string>{50,45}</string>
				<key>size_Iphone5</key>
				<string>{50,45}</string>
				<key>size_Iphone6</key>
				<string>{50,45}</string>
				<key>fontsize</key>
				<string>13</string>
				<key>fontsize_Iphone4</key>
				<string>13</string>
				<key>fontsize_Iphone5</key>
				<string>13</string>
				<key>textColor</key>
				<string>#270d04</string>
				<key>text</key>
				<string>步行</string>
				<key>textAlignment</key>
				<string>2</string>
				<key>lineBreakMode</key>
				<string></string>
				<key>numberOfLines</key>
				<string></string>
				<key>tag</key>
				<string>225</string>
				<key>hidden</key>
				<string></string>
			</dict>
			<dict>
				<key>position</key>
				<string>{230,50}</string>
				<key>position_Iphone4</key>
				<string>{230,50}</string>
				<key>position_Iphone5</key>
				<string>{230,50}</string>
				<key>position_Iphone6</key>
				<string>{230,50}</string>
				<key>size</key>
				<string>{390,50}</string>
				<key>size_Iphone4</key>
				<string>{195,50}</string>
				<key>size_Iphone5</key>
				<string>{195,50}</string>
				<key>size_Iphone6</key>
				<string>{195,50}</string>
				<key>fontsize</key>
				<string>13</string>
				<key>fontsize_Iphone4</key>
				<string>13</string>
				<key>fontsize_Iphone5</key>
				<string>13</string>
				<key>textColor</key>
				<string>#270d04</string>
				<key>text</key>
				<string>我的位置</string>
				<key>textAlignment</key>
				<string>0</string>
				<key>lineBreakMode</key>
				<string></string>
				<key>numberOfLines</key>
				<string></string>
				<key>tag</key>
				<string>226</string>
				<key>hidden</key>
				<string></string>
			</dict>
			<dict>
				<key>position</key>
				<string>{230,150}</string>
				<key>position_Iphone4</key>
				<string>{230,150}</string>
				<key>position_Iphone5</key>
				<string>{230,150}</string>
				<key>position_Iphone6</key>
				<string>{230,150}</string>
				<key>size</key>
				<string>{390,50}</string>
				<key>size_Iphone4</key>
				<string>{195,50}</string>
				<key>size_Iphone5</key>
				<string>{195,50}</string>
				<key>size_Iphone6</key>
				<string>{195,50}</string>
				<key>fontsize</key>
				<string>13</string>
				<key>fontsize_Iphone4</key>
				<string>13</string>
				<key>fontsize_Iphone5</key>
				<string>13</string>
				<key>textColor</key>
				<string>#270d04</string>
				<key>text</key>
				<string></string>
				<key>textAlignment</key>
				<string>0</string>
				<key>lineBreakMode</key>
				<string></string>
				<key>numberOfLines</key>
				<string></string>
				<key>tag</key>
				<string>227</string>
				<key>hidden</key>
				<string></string>
			</dict>
		</array>
	</array>
	<key>ColorButtons</key>
	<array>
		<array>
			<dict>
				<key>title</key>
				<string>我的位置</string>
				<key>method</key>
				<string>loginClicked:</string>
				<key>size</key>
				<string>{160,32}</string>
				<key>size_Iphone5</key>
				<string>{160,32}</string>
				<key>size_Iphone4</key>
				<string>{160,32}</string>
				<key>position</key>
				<string>{64,390}</string>
				<key>position_Iphone5</key>
				<string>{64,390}</string>
				<key>position_Iphone4</key>
				<string>{64,390}</string>
				<key>fontsize_Iphone5</key>
				<string>15</string>
				<key>fontsize_Iphone4</key>
				<string>15</string>
				<key>highlightcolor</key>
				<string>#FFCC99</string>
				<key>color</key>
				<string>#ff9933</string>
				<key>textcolor</key>
				<string>#270d04</string>
				<key>cornerradius</key>
				<string>5</string>
				<key>tag</key>
				<string>311</string>
			</dict>
			<dict>
				<key>title</key>
				<string>点击设置</string>
				<key>method</key>
				<string>forgetPasswordClicked:</string>
				<key>size</key>
				<string>{85,32}</string>
				<key>size_Iphone5</key>
				<string>{85,32}</string>
				<key>size_Iphone4</key>
				<string>{85,32}</string>
				<key>position</key>
				<string>{405,390}</string>
				<key>position_Iphone5</key>
				<string>{405,390}</string>
				<key>position_Iphone4</key>
				<string>{405,390}</string>
				<key>fontsize_Iphone5</key>
				<string>15</string>
				<key>fontsize_Iphone4</key>
				<string>15</string>
				<key>highlightcolor</key>
				<string>#FFCC99</string>
				<key>color</key>
				<string>#99ccff</string>
				<key>textcolor</key>
				<string>#270d04</string>
				<key>cornerradius</key>
				<string>5</string>
				<key>tag</key>
				<string>312</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>title</key>
				<string>我的位置</string>
				<key>method</key>
				<string>searchBtnClicked:</string>
				<key>size</key>
				<string>{70,40}</string>
				<key>size_Iphone5</key>
				<string>{70,40}</string>
				<key>size_Iphone4</key>
				<string>{70,40}</string>
				<key>size_Iphone6</key>
				<string>{70,40}</string>
				<key>position</key>
				<string>{230,60}</string>
				<key>position_Iphone5</key>
				<string>{230,60}</string>
				<key>position_Iphone4</key>
				<string>{230,60}</string>
				<key>position_Iphone6</key>
				<string>{230,60}</string>
				<key>fontsize</key>
				<string>15</string>
				<key>fontsize_Iphone5</key>
				<string>13</string>
				<key>fontsize_Iphone6</key>
				<string>13</string>
				<key>fontsize_Iphone4</key>
				<string>13</string>
				<key>highlightcolor</key>
				<string>#ffffff</string>
				<key>color</key>
				<string>#ffffff</string>
				<key>textcolor</key>
				<string>#d2d2d2</string>
				<key>texthighlightcolor</key>
				<string>#d2d2d2</string>
				<key>cornerradius</key>
				<string>0</string>
				<key>tag</key>
				<string>321</string>
			</dict>
			<dict>
				<key>title</key>
				<string>点击设置</string>
				<key>method</key>
				<string>searchBtnClicked:</string>
				<key>size</key>
				<string>{70,40}</string>
				<key>size_Iphone5</key>
				<string>{70,40}</string>
				<key>size_Iphone4</key>
				<string>{70,40}</string>
				<key>size_Iphone6</key>
				<string>{70,40}</string>
				<key>position</key>
				<string>{230,160}</string>
				<key>position_Iphone5</key>
				<string>{230,160}</string>
				<key>position_Iphone4</key>
				<string>{230,160}</string>
				<key>position_Iphone6</key>
				<string>{230,160}</string>
				<key>fontsize</key>
				<string>13</string>
				<key>fontsize_Iphone5</key>
				<string>13</string>
				<key>fontsize_Iphone6</key>
				<string>13</string>
				<key>fontsize_Iphone4</key>
				<string>13</string>
				<key>highlightcolor</key>
				<string>#ffffff</string>
				<key>color</key>
				<string>#ffffff</string>
				<key>textcolor</key>
				<string>#d2d2d2</string>
				<key>texthighlightcolor</key>
				<string>#d2d2d2</string>
				<key>cornerradius</key>
				<string>0</string>
				<key>tag</key>
				<string>322</string>
			</dict>
		</array>
	</array>
	<key>UIImageView</key>
	<array>
		<array>
			<dict>
				<key>position</key>
				<string>{0,40}</string>
				<key>position_Iphone5</key>
				<string>{0,40}</string>
				<key>position_Iphone4</key>
				<string>{0,40}</string>
				<key>image</key>
				<string>顶部.png</string>
				<key>tag</key>
				<string>411</string>
				<key>hidden</key>
				<string>0</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>position</key>
				<string>{0,40}</string>
				<key>position_Iphone5</key>
				<string>{0,40}</string>
				<key>position_Iphone4</key>
				<string>{0,40}</string>
				<key>image</key>
				<string>顶部.png</string>
				<key>tag</key>
				<string>411</string>
				<key>hidden</key>
				<string>0</string>
			</dict>
		</array>
	</array>
	<key>TextField</key>
	<array>
		<array>
			<dict>
				<key>position</key>
				<string>{160,150}</string>
				<key>position_Iphone4</key>
				<string>{160,150}</string>
				<key>position_Iphone5</key>
				<string>{160,150}</string>
				<key>position_Iphone6</key>
				<string>{160,150}</string>
				<key>size</key>
				<string>{230,50}</string>
				<key>size_Iphone4</key>
				<string>{230,50}</string>
				<key>size_Iphone5</key>
				<string>{230,50}</string>
				<key>size_Iphone6</key>
				<string>{230,50}</string>
				<key>borderStyle</key>
				<string>3</string>
				<key>placeholder</key>
				<string>请输入您的手机号码</string>
				<key>textEntry</key>
				<string>0</string>
				<key>apitalizationType</key>
				<string>0</string>
				<key>keyboardType</key>
				<string>4</string>
				<key>verticalAlignment</key>
				<string>0</string>
				<key>horizontalAlignment</key>
				<string>1</string>
				<key>tag</key>
				<string>611</string>
				<key>hidden</key>
				<string></string>
			</dict>
			<dict>
				<key>position</key>
				<string>{160,260}</string>
				<key>position_Iphone4</key>
				<string>{160,260}</string>
				<key>position_Iphone5</key>
				<string>{160,260}</string>
				<key>position_Iphone6</key>
				<string>{160,260}</string>
				<key>size</key>
				<string>{230,50}</string>
				<key>size_Iphone4</key>
				<string>{230,50}</string>
				<key>size_Iphone5</key>
				<string>{230,50}</string>
				<key>size_Iphone6</key>
				<string>{230,50}</string>
				<key>borderStyle</key>
				<string>3</string>
				<key>placeholder</key>
				<string>密码</string>
				<key>textEntry</key>
				<string>1</string>
				<key>apitalizationType</key>
				<string>0</string>
				<key>keyboardType</key>
				<string>0</string>
				<key>verticalAlignment</key>
				<string>0</string>
				<key>horizontalAlignment</key>
				<string>1</string>
				<key>tag</key>
				<string>612</string>
				<key>hidden</key>
				<string></string>
			</dict>
		</array>
		<array>
			<dict>
				<key>position</key>
				<string>{230,50}</string>
				<key>position_Iphone4</key>
				<string>{230,50}</string>
				<key>position_Iphone5</key>
				<string>{230,50}</string>
				<key>position_Iphone6</key>
				<string>{230,50}</string>
				<key>size</key>
				<string>{170,50}</string>
				<key>size_Iphone4</key>
				<string>{170,50}</string>
				<key>size_Iphone5</key>
				<string>{170,50}</string>
				<key>size_Iphone6</key>
				<string>{170,50}</string>
				<key>borderStyle</key>
				<string>0</string>
				<key>placeholder</key>
				<string>我的位置</string>
				<key>textEntry</key>
				<string>0</string>
				<key>apitalizationType</key>
				<string>0</string>
				<key>keyboardType</key>
				<string>0</string>
				<key>verticalAlignment</key>
				<string>0</string>
				<key>horizontalAlignment</key>
				<string>1</string>
				<key>tag</key>
				<string>621</string>
				<key>hidden</key>
				<string></string>
			</dict>
			<dict>
				<key>position</key>
				<string>{230,150}</string>
				<key>position_Iphone4</key>
				<string>{230,150}</string>
				<key>position_Iphone5</key>
				<string>{230,150}</string>
				<key>position_Iphone6</key>
				<string>{230,150}</string>
				<key>size</key>
				<string>{170,50}</string>
				<key>size_Iphone4</key>
				<string>{170,50}</string>
				<key>size_Iphone5</key>
				<string>{170,50}</string>
				<key>size_Iphone6</key>
				<string>{170,50}</string>
				<key>borderStyle</key>
				<string>0</string>
				<key>placeholder</key>
				<string>点击设置</string>
				<key>textEntry</key>
				<string>1</string>
				<key>apitalizationType</key>
				<string>0</string>
				<key>keyboardType</key>
				<string>0</string>
				<key>verticalAlignment</key>
				<string>0</string>
				<key>horizontalAlignment</key>
				<string>1</string>
				<key>tag</key>
				<string>622</string>
				<key>hidden</key>
				<string></string>
			</dict>
		</array>
	</array>
	<key>overView</key>
	<array>
		<string>UIViews</string>
		<string>UILabel</string>
		<string>Buttons</string>
		<string>UIimageview</string>
		<string>TextField</string>
	</array>
	<key>UIViews</key>
	<array>
		<array>
			<dict>
				<key>size</key>
				<string>{320,245}</string>
				<key>size_Iphone5</key>
				<string>{320,245}</string>
				<key>size_Iphone4</key>
				<string>{320,245}</string>
				<key>position</key>
				<string>{0,100}</string>
				<key>position_Iphone5</key>
				<string>{0,100}</string>
				<key>position_Iphone4</key>
				<string>{0,100}</string>
				<key>backgroundColor</key>
				<string>#ececec</string>
				<key>tag</key>
				<string>998801</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>size</key>
				<string>{300,100}</string>
				<key>size_Iphone5</key>
				<string>{300,100}</string>
				<key>size_Iphone4</key>
				<string>{300,100}</string>
				<key>position</key>
				<string>{20,50}</string>
				<key>position_Iphone5</key>
				<string>{20,50}</string>
				<key>position_Iphone4</key>
				<string>{20,50}</string>
				<key>backgroundColor</key>
				<string>#FFFFFF</string>
				<key>tag</key>
				<string>721</string>
			</dict>
			<dict>
				<key>size</key>
				<string>{300,100}</string>
				<key>size_Iphone5</key>
				<string>{300,100}</string>
				<key>size_Iphone4</key>
				<string>{300,100}</string>
				<key>position</key>
				<string>{20,270}</string>
				<key>position_Iphone5</key>
				<string>{20,270}</string>
				<key>position_Iphone4</key>
				<string>{20,270}</string>
				<key>backgroundColor</key>
				<string>#FFFFFF</string>
				<key>tag</key>
				<string>722</string>
			</dict>
			<dict>
				<key>size</key>
				<string>{280,1}</string>
				<key>size_Iphone5</key>
				<string>{280,1}</string>
				<key>size_Iphone4</key>
				<string>{280,1}</string>
				<key>position</key>
				<string>{40,150}</string>
				<key>position_Iphone5</key>
				<string>{40,150}</string>
				<key>position_Iphone4</key>
				<string>{40,150}</string>
				<key>backgroundColor</key>
				<string>#ececec</string>
				<key>tag</key>
				<string>723</string>
			</dict>
			<dict>
				<key>size</key>
				<string>{280,1}</string>
				<key>size_Iphone5</key>
				<string>{280,1}</string>
				<key>size_Iphone4</key>
				<string>{280,1}</string>
				<key>position</key>
				<string>{40,340}</string>
				<key>position_Iphone5</key>
				<string>{40,340}</string>
				<key>position_Iphone4</key>
				<string>{40,340}</string>
				<key>backgroundColor</key>
				<string>#ececec</string>
				<key>tag</key>
				<string>724</string>
			</dict>
			<dict>
				<key>size</key>
				<string>{1,45}</string>
				<key>size_Iphone5</key>
				<string>{1,45}</string>
				<key>size_Iphone4</key>
				<string>{1,45}</string>
				<key>position</key>
				<string>{320,360}</string>
				<key>position_Iphone5</key>
				<string>{320,360}</string>
				<key>position_Iphone4</key>
				<string>{320,360}</string>
				<key>backgroundColor</key>
				<string>#ececec</string>
				<key>tag</key>
				<string>725</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>size</key>
				<string>{300,40}</string>
				<key>size_Iphone5</key>
				<string>{300,40}</string>
				<key>size_Iphone4</key>
				<string>{300,40}</string>
				<key>size_Iphone6</key>
				<string>{300,40}</string>
				<key>position</key>
				<string>{20,1030}</string>
				<key>position_Iphone5</key>
				<string>{20,1030}</string>
				<key>position_Iphone4</key>
				<string>{20,830}</string>
				<key>position_Iphone6</key>
				<string>{20,1030}</string>
				<key>backgroundColor</key>
				<string>#ffffff</string>
				<key>tag</key>
				<string>731</string>
			</dict>
		</array>
	</array>
	<key>UISegmentedControl</key>
	<array>
		<array>
			<dict>
				<key>titleName</key>
				<array>
					<string>上一个</string>
					<string>下一个</string>
					<string>详情</string>
				</array>
				<key>method</key>
				<string>segBtnClicked:</string>
				<key>size</key>
				<string>{300,40}</string>
				<key>size_Iphone5</key>
				<string>{300,40}</string>
				<key>size_Iphone4</key>
				<string>{300,40}</string>
				<key>size_Iphone6</key>
				<string>{300,40}</string>
				<key>position</key>
				<string>{20,1030}</string>
				<key>position_Iphone5</key>
				<string>{20,1030}</string>
				<key>position_Iphone4</key>
				<string>{20,1030}</string>
				<key>position_Iphone6</key>
				<string>{20,1030}</string>
				<key>tintColor</key>
				<string>#bbbbbb</string>
				<key>selectedSegmentIndex</key>
				<string>0</string>
				<key>tag</key>
				<string>13001</string>
			</dict>
		</array>
	</array>
</dict>
</plist>
