<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BackTitleButtons</key>
	<array>
		<array>
			<dict>
				<key>image</key>
				<string>返回默认.png</string>
				<key>highlighted</key>
				<string>返回按下.png</string>
				<key>method</key>
				<string>backClicked:</string>
				<key>position</key>
				<string>{10,9}</string>
				<key>position_Iphone5</key>
				<string>{10,9}</string>
				<key>position_Iphone4</key>
				<string>{10,9}</string>
			</dict>
		</array>
	</array>
	<key>BackTitleBaseUIViews</key>
	<array>
		<array>
			<dict>
				<key>size</key>
				<string>{320,50}</string>
				<key>size_Iphone5</key>
				<string>{320,50}</string>
				<key>size_Iphone4</key>
				<string>{320,50}</string>
				<key>position</key>
				<string>{0,0}</string>
				<key>position_Iphone5</key>
				<string>{0,0}</string>
				<key>position_Iphone4</key>
				<string>{0,0}</string>
				<key>backgroundColor</key>
				<string>#FFFFFF</string>
				<key>tag</key>
				<string>511</string>
			</dict>
		</array>
	</array>
	<key>BackTitleUILabel</key>
	<array>
		<array>
			<dict>
				<key>backgroundColor</key>
				<string>#FFFFFF</string>
				<key>position</key>
				<string>{0,0}</string>
				<key>position_Iphone5</key>
				<string>{0,0}</string>
				<key>position_Iphone4</key>
				<string>{0,0}</string>
				<key>size</key>
				<string>{320,50}</string>
				<key>size_Iphone5</key>
				<string>{320,50}</string>
				<key>size_Iphone4</key>
				<string>{320,50}</string>
				<key>tag</key>
				<string>311</string>
				<key>textColor</key>
				<string>#000000</string>
				<key>textAlignment</key>
				<string>2</string>
				<key>fontsize</key>
				<string>17</string>
				<key>fontsize_Iphone5</key>
				<string>17</string>
				<key>fontsize_Iphone4</key>
				<string>17</string>
				<key>text</key>
				<string>预定详情</string>
			</dict>
		</array>
	</array>
	<key>UILabel</key>
	<array>
		<array>
			<dict>
				<key>position</key>
				<string>{0,5}</string>
				<key>position_Iphone4</key>
				<string>{0,5}</string>
				<key>position_Iphone5</key>
				<string>{0,5}</string>
				<key>position_Iphone6</key>
				<string>{0,5}</string>
				<key>size</key>
				<string>{320,90}</string>
				<key>size_Iphone4</key>
				<string>{160,45}</string>
				<key>size_Iphone5</key>
				<string>{160,45}</string>
				<key>size_Iphone6</key>
				<string>{160,45}</string>
				<key>fontsize</key>
				<string>30</string>
				<key>fontsize_Iphone4</key>
				<string>15</string>
				<key>fontsize_Iphone5</key>
				<string>15</string>
				<key>fontsize_Iphone6</key>
				<string>15</string>
				<key>boldFont</key>
				<string>1</string>
				<key>textColor</key>
				<string>#ff9933</string>
				<key>text</key>
				<string>总价：- 元</string>
				<key>textAlignment</key>
				<string>2</string>
				<key>lineBreakMode</key>
				<string></string>
				<key>numberOfLines</key>
				<string></string>
				<key>tag</key>
				<string>411</string>
				<key>hidden</key>
				<string></string>
			</dict>
		</array>
	</array>
	<key>ColorButtons</key>
	<array>
		<array>
			<dict>
				<key>title</key>
				<string>立即预定</string>
				<key>method</key>
				<string>gotoBooking:</string>
				<key>size</key>
				<string>{275,75}</string>
				<key>size_Iphone5</key>
				<string>{137.5,37.5}</string>
				<key>size_Iphone4</key>
				<string>{137.5,37.5}</string>
				<key>size_Iphone6</key>
				<string>{137.5,37.5}</string>
				<key>position</key>
				<string>{348,12.5}</string>
				<key>position_Iphone5</key>
				<string>{348,12.5}</string>
				<key>position_Iphone4</key>
				<string>{348,12.5}</string>
				<key>position_Iphone6</key>
				<string>{348,12.5}</string>
				<key>fontsize</key>
				<string>30</string>
				<key>fontsize_Iphone5</key>
				<string>15</string>
				<key>fontsize_Iphone4</key>
				<string>15</string>
				<key>fontsize_Iphone6</key>
				<string>15</string>
				<key>boldFont</key>
				<string>1</string>
				<key>highlightcolor</key>
				<string>#ffe0f0</string>
				<key>textcolor</key>
				<string>#ffffff</string>
				<key>texthighlightcolor</key>
				<string>#ffffff</string>
				<key>color</key>
				<string>#ff9933</string>
				<key>cornerradius</key>
				<string>5</string>
				<key>tag</key>
				<string>211</string>
			</dict>
		</array>
	</array>
	<key>UIView</key>
	<array>
		<array>
			<dict>
				<key>size</key>
				<string>{640,100}</string>
				<key>size_Iphone5</key>
				<string>{320,50}</string>
				<key>size_Iphone4</key>
				<string>{320,50}</string>
				<key>size_Iphone6</key>
				<string>{320,50}</string>
				<key>position</key>
				<string>{0,0}</string>
				<key>position_Iphone5</key>
				<string>{0,0}</string>
				<key>position_Iphone4</key>
				<string>{0,0}</string>
				<key>backgroundColor</key>
				<string>#ffffff</string>
				<key>tag</key>
				<string>611</string>
			</dict>
		</array>
	</array>
</dict>
</plist>
