<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Buttons</key>
	<array>
		<array>
			<dict>
				<key>image</key>
				<string>地图默认.png</string>
				<key>highlighted</key>
				<string>地图按下.png</string>
				<key>method</key>
				<string>mapBtnClicked:</string>
				<key>position</key>
				<string>{560,440}</string>
				<key>position_Iphone5</key>
				<string>{560,440}</string>
				<key>position_Iphone4</key>
				<string>{560,440}</string>
				<key>tag</key>
				<string>121</string>
			</dict>
		</array>
	</array>
	<key>BackTitleButtons</key>
	<array>
		<array>
			<dict>
				<key>image</key>
				<string>返回默认.png</string>
				<key>highlighted</key>
				<string>返回按下.png</string>
				<key>method</key>
				<string>backClicked:</string>
				<key>position</key>
				<string>{20,10}</string>
				<key>position_Iphone5</key>
				<string>{20,10}</string>
				<key>position_Iphone4</key>
				<string>{20,10}</string>
			</dict>
			<dict>
				<key>image</key>
				<string>拨打电话默认.png</string>
				<key>highlighted</key>
				<string>拨打电话按下.png</string>
				<key>method</key>
				<string>callBtnClicked:</string>
				<key>position</key>
				<string>{540,10}</string>
				<key>position_Iphone5</key>
				<string>{540,10}</string>
				<key>position_Iphone4</key>
				<string>{540,10}</string>
				<key>tag</key>
				<string>9889801</string>
				<key>hidden</key>
				<string>1</string>
			</dict>
		</array>
	</array>
	<key>BackTitleBaseUIViews</key>
	<array>
		<array>
			<dict>
				<key>size</key>
				<string>{320,50}</string>
				<key>size_Iphone5</key>
				<string>{320,50}</string>
				<key>size_Iphone4</key>
				<string>{320,50}</string>
				<key>position</key>
				<string>{0,0}</string>
				<key>position_Iphone5</key>
				<string>{0,0}</string>
				<key>position_Iphone4</key>
				<string>{0,0}</string>
				<key>backgroundColor</key>
				<string>#FFFFFF</string>
				<key>tag</key>
				<string>511</string>
			</dict>
		</array>
	</array>
	<key>BackTitleUILabel</key>
	<array>
		<array>
			<dict>
				<key>backgroundColor</key>
				<string>#FFFFFF</string>
				<key>position</key>
				<string>{0,0}</string>
				<key>position_Iphone5</key>
				<string>{0,0}</string>
				<key>position_Iphone4</key>
				<string>{0,0}</string>
				<key>size</key>
				<string>{320,50}</string>
				<key>size_Iphone5</key>
				<string>{320,50}</string>
				<key>size_Iphone4</key>
				<string>{320,50}</string>
				<key>tag</key>
				<string>311</string>
				<key>textColor</key>
				<string>#000000</string>
				<key>textAlignment</key>
				<string>2</string>
				<key>fontsize</key>
				<string>17</string>
				<key>fontsize_Iphone5</key>
				<string>17</string>
				<key>fontsize_Iphone4</key>
				<string>17</string>
				<key>text</key>
				<string>带你玩路线详情</string>
			</dict>
		</array>
	</array>
	<key>UILabel</key>
	<array>
		<array>
			<dict>
				<key>position</key>
				<string>{20,251}</string>
				<key>position_Iphone4</key>
				<string>{20,251}</string>
				<key>position_Iphone5</key>
				<string>{20,251}</string>
				<key>position_Iphone6</key>
				<string>{20,251}</string>
				<key>size</key>
				<string>{400,35}</string>
				<key>size_Iphone4</key>
				<string>{200,35}</string>
				<key>size_Iphone5</key>
				<string>{200,35}</string>
				<key>size_Iphone6</key>
				<string>{200,35}</string>
				<key>fontsize</key>
				<string>30</string>
				<key>fontsize_Iphone4</key>
				<string>15</string>
				<key>fontsize_Iphone5</key>
				<string>15</string>
				<key>textColor</key>
				<string>#270d04</string>
				<key>text</key>
				<string>抱龙于拉梁、看瀑布一日游</string>
				<key>textAlignment</key>
				<string>0</string>
				<key>lineBreakMode</key>
				<string></string>
				<key>numberOfLines</key>
				<string></string>
				<key>tag</key>
				<string>411</string>
				<key>hidden</key>
				<string></string>
			</dict>
			<dict>
				<key>position</key>
				<string>{220,308}</string>
				<key>position_Iphone4</key>
				<string>{220,308}</string>
				<key>position_Iphone5</key>
				<string>{220,308}</string>
				<key>position_Iphone6</key>
				<string>{220,308}</string>
				<key>size</key>
				<string>{200,35}</string>
				<key>size_Iphone4</key>
				<string>{100,35}</string>
				<key>size_Iphone5</key>
				<string>{100,35}</string>
				<key>size_Iphone6</key>
				<string>{100,35}</string>
				<key>fontsize</key>
				<string>30</string>
				<key>fontsize_Iphone4</key>
				<string>15</string>
				<key>fontsize_Iphone5</key>
				<string>15</string>
				<key>textColor</key>
				<string>#ff0000</string>
				<key>text</key>
				<string>￥ 28元/人</string>
				<key>textAlignment</key>
				<string>0</string>
				<key>lineBreakMode</key>
				<string></string>
				<key>numberOfLines</key>
				<string></string>
				<key>tag</key>
				<string>412</string>
				<key>hidden</key>
				<string></string>
			</dict>
		</array>
		<array>
			<dict>
				<key>position</key>
				<string>{20,1}</string>
				<key>position_Iphone4</key>
				<string>{20,1}</string>
				<key>position_Iphone5</key>
				<string>{20,1}</string>
				<key>position_Iphone6</key>
				<string>{20,1}</string>
				<key>size</key>
				<string>{70,37}</string>
				<key>size_Iphone4</key>
				<string>{70,37}</string>
				<key>size_Iphone5</key>
				<string>{70,37}</string>
				<key>size_Iphone6</key>
				<string>{70,37}</string>
				<key>fontsize</key>
				<string>30</string>
				<key>fontsize_Iphone4</key>
				<string>15</string>
				<key>fontsize_Iphone5</key>
				<string>15</string>
				<key>textColor</key>
				<string>#000000</string>
				<key>text</key>
				<string>集结地: </string>
				<key>textAlignment</key>
				<string>0</string>
				<key>lineBreakMode</key>
				<string></string>
				<key>numberOfLines</key>
				<string></string>
				<key>tag</key>
				<string>421</string>
				<key>hidden</key>
				<string></string>
			</dict>
		</array>
		<array>
			<dict>
				<key>position</key>
				<string>{20,1}</string>
				<key>position_Iphone4</key>
				<string>{20,1}</string>
				<key>position_Iphone5</key>
				<string>{20,1}</string>
				<key>position_Iphone6</key>
				<string>{20,1}</string>
				<key>size</key>
				<string>{300,37}</string>
				<key>size_Iphone4</key>
				<string>{300,37}</string>
				<key>size_Iphone5</key>
				<string>{300,37}</string>
				<key>size_Iphone6</key>
				<string>{300,37}</string>
				<key>fontsize</key>
				<string>30</string>
				<key>fontsize_Iphone4</key>
				<string>15</string>
				<key>fontsize_Iphone5</key>
				<string>15</string>
				<key>textColor</key>
				<string>#000000</string>
				<key>text</key>
				<string></string>
				<key>textAlignment</key>
				<string>0</string>
				<key>lineBreakMode</key>
				<string></string>
				<key>numberOfLines</key>
				<string></string>
				<key>tag</key>
				<string>431</string>
				<key>hidden</key>
				<string></string>
			</dict>
			<dict>
				<key>position</key>
				<string>{20,76}</string>
				<key>position_Iphone4</key>
				<string>{20,76}</string>
				<key>position_Iphone5</key>
				<string>{20,76}</string>
				<key>position_Iphone6</key>
				<string>{20,76}</string>
				<key>size</key>
				<string>{300,37}</string>
				<key>size_Iphone4</key>
				<string>{300,37}</string>
				<key>size_Iphone5</key>
				<string>{300,37}</string>
				<key>size_Iphone6</key>
				<string>{300,37}</string>
				<key>fontsize</key>
				<string>30</string>
				<key>fontsize_Iphone4</key>
				<string>15</string>
				<key>fontsize_Iphone5</key>
				<string>15</string>
				<key>textColor</key>
				<string>#000000</string>
				<key>text</key>
				<string></string>
				<key>textAlignment</key>
				<string>0</string>
				<key>lineBreakMode</key>
				<string></string>
				<key>numberOfLines</key>
				<string></string>
				<key>tag</key>
				<string>432</string>
				<key>hidden</key>
				<string></string>
			</dict>
		</array>
	</array>
	<key>ColorButtons</key>
	<array>
		<array>
			<dict>
				<key>title</key>
				<string>报名参加</string>
				<key>method</key>
				<string>joinBtnClicked:</string>
				<key>size</key>
				<string>{170,110}</string>
				<key>size_Iphone5</key>
				<string>{85,55}</string>
				<key>size_Iphone4</key>
				<string>{85,55}</string>
				<key>size_Iphone6</key>
				<string>{85,55}</string>
				<key>position</key>
				<string>{450,253}</string>
				<key>position_Iphone5</key>
				<string>{450,253}</string>
				<key>position_Iphone4</key>
				<string>{450,253}</string>
				<key>position_Iphone6</key>
				<string>{450,253}</string>
				<key>fontsize</key>
				<string>20</string>
				<key>fontsize_Iphone5</key>
				<string>20</string>
				<key>fontsize_Iphone4</key>
				<string>20</string>
				<key>fontsize_Iphone6</key>
				<string>20</string>
				<key>color</key>
				<string>#d85525</string>
				<key>highlightcolor</key>
				<string>#ff9933</string>
				<key>textcolor</key>
				<string>#ffffff</string>
				<key>texthighlightcolor</key>
				<string>#ffffff</string>
				<key>cornerradius</key>
				<string>5</string>
				<key>tag</key>
				<string>211</string>
			</dict>
		</array>
	</array>
	<key>UIView</key>
	<array>
		<array>
			<dict>
				<key>size</key>
				<string>{320,59}</string>
				<key>size_Iphone5</key>
				<string>{320,59}</string>
				<key>size_Iphone4</key>
				<string>{320,59}</string>
				<key>size_Iphone6</key>
				<string>{320,59}</string>
				<key>position</key>
				<string>{0,250}</string>
				<key>position_Iphone5</key>
				<string>{0,250}</string>
				<key>position_Iphone6</key>
				<string>{0,250}</string>
				<key>position_Iphone4</key>
				<string>{0,250}</string>
				<key>backgroundColor</key>
				<string>#ececec</string>
				<key>tag</key>
				<string>611</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>size</key>
				<string>{320,37.5}</string>
				<key>size_Iphone5</key>
				<string>{320,37.5}</string>
				<key>size_Iphone4</key>
				<string>{320,37.5}</string>
				<key>size_Iphone6</key>
				<string>{320,37.5}</string>
				<key>position</key>
				<string>{0,368}</string>
				<key>position_Iphone5</key>
				<string>{0,368}</string>
				<key>position_Iphone4</key>
				<string>{0,368}</string>
				<key>position_Iphone6</key>
				<string>{0,368}</string>
				<key>backgroundColor</key>
				<string>#ececec</string>
				<key>tag</key>
				<string>621</string>
			</dict>
			<dict>
				<key>size</key>
				<string>{320,1}</string>
				<key>size_Iphone5</key>
				<string>{320,0.5}</string>
				<key>size_Iphone4</key>
				<string>{320,0.5}</string>
				<key>size_Iphone6</key>
				<string>{320,0.5}</string>
				<key>position</key>
				<string>{0,368}</string>
				<key>position_Iphone5</key>
				<string>{0,368}</string>
				<key>position_Iphone4</key>
				<string>{0,368}</string>
				<key>position_Iphone6</key>
				<string>{0,368}</string>
				<key>backgroundColor</key>
				<string>#9c9c9c</string>
				<key>tag</key>
				<string>622</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>size</key>
				<string>{320,75}</string>
				<key>size_Iphone5</key>
				<string>{320,75}</string>
				<key>size_Iphone4</key>
				<string>{320,75}</string>
				<key>size_Iphone6</key>
				<string>{320,75}</string>
				<key>position</key>
				<string>{0,0}</string>
				<key>position_Iphone5</key>
				<string>{0,0}</string>
				<key>position_Iphone4</key>
				<string>{0,0}</string>
				<key>position_Iphone6</key>
				<string>{0,0}</string>
				<key>backgroundColor</key>
				<string>#ececec</string>
				<key>tag</key>
				<string>631</string>
			</dict>
			<dict>
				<key>size</key>
				<string>{320,1}</string>
				<key>size_Iphone5</key>
				<string>{320,0.5}</string>
				<key>size_Iphone4</key>
				<string>{320,0.5}</string>
				<key>size_Iphone6</key>
				<string>{320,0.5}</string>
				<key>position</key>
				<string>{0,0}</string>
				<key>position_Iphone5</key>
				<string>{0,0}</string>
				<key>position_Iphone4</key>
				<string>{0,0}</string>
				<key>position_Iphone6</key>
				<string>{0,0}</string>
				<key>backgroundColor</key>
				<string>#9c9c9c</string>
				<key>tag</key>
				<string>632</string>
			</dict>
			<dict>
				<key>size</key>
				<string>{320,1}</string>
				<key>size_Iphone5</key>
				<string>{320,0.5}</string>
				<key>size_Iphone4</key>
				<string>{320,0.5}</string>
				<key>size_Iphone6</key>
				<string>{320,0.5}</string>
				<key>position</key>
				<string>{0,75}</string>
				<key>position_Iphone5</key>
				<string>{0,75}</string>
				<key>position_Iphone4</key>
				<string>{0,75}</string>
				<key>position_Iphone6</key>
				<string>{0,75}</string>
				<key>backgroundColor</key>
				<string>#9c9c9c</string>
				<key>tag</key>
				<string>633</string>
			</dict>
			<dict>
				<key>size</key>
				<string>{320,1}</string>
				<key>size_Iphone5</key>
				<string>{320,0.5}</string>
				<key>size_Iphone4</key>
				<string>{320,0.5}</string>
				<key>size_Iphone6</key>
				<string>{320,0.5}</string>
				<key>position</key>
				<string>{0,150}</string>
				<key>position_Iphone5</key>
				<string>{0,150}</string>
				<key>position_Iphone4</key>
				<string>{0,150}</string>
				<key>position_Iphone6</key>
				<string>{0,150}</string>
				<key>backgroundColor</key>
				<string>#9c9c9c</string>
				<key>tag</key>
				<string>634</string>
			</dict>
		</array>
	</array>
	<key>mapButonDict</key>
	<array>
		<dict>
			<key>title</key>
			<string>电视塔</string>
			<key>imageName</key>
			<string>地图进入默认.png</string>
			<key>selectedImageName</key>
			<string>地图进入按下.png</string>
		</dict>
		<dict>
			<key>title</key>
			<string>电视塔</string>
			<key>imageName</key>
			<string>地图进入默认.png</string>
			<key>selectedImageName</key>
			<string>地图进入按下.png</string>
		</dict>
		<dict>
			<key>title</key>
			<string>电视塔</string>
			<key>imageName</key>
			<string>地图进入默认.png</string>
			<key>selectedImageName</key>
			<string>地图进入按下.png</string>
		</dict>
		<dict>
			<key>title</key>
			<string>电视塔</string>
			<key>imageName</key>
			<string>地图进入默认.png</string>
			<key>selectedImageName</key>
			<string>地图进入按下.png</string>
		</dict>
		<dict>
			<key>title</key>
			<string>电视塔</string>
			<key>imageName</key>
			<string>地图进入默认.png</string>
			<key>selectedImageName</key>
			<string>地图进入按下.png</string>
		</dict>
	</array>
	<key>StrikeThroughLabel</key>
	<array>
		<array>
			<dict>
				<key>position</key>
				<string>{20,308}</string>
				<key>position_Iphone4</key>
				<string>{20,308}</string>
				<key>position_Iphone5</key>
				<string>{20,308}</string>
				<key>position_Iphone6</key>
				<string>{20,308}</string>
				<key>size</key>
				<string>{200,35}</string>
				<key>size_Iphone4</key>
				<string>{100,35}</string>
				<key>size_Iphone5</key>
				<string>{100,35}</string>
				<key>size_Iphone6</key>
				<string>{100,35}</string>
				<key>fontsize</key>
				<string>30</string>
				<key>fontsize_Iphone4</key>
				<string>15</string>
				<key>fontsize_Iphone5</key>
				<string>15</string>
				<key>textColor</key>
				<string>#CDCDC1</string>
				<key>text</key>
				<string>￥ 28元/人</string>
				<key>textAlignment</key>
				<string>0</string>
				<key>lineBreakMode</key>
				<string></string>
				<key>numberOfLines</key>
				<string></string>
				<key>tag</key>
				<string>911</string>
				<key>hidden</key>
				<string></string>
			</dict>
		</array>
	</array>
</dict>
</plist>
